<template name="expensesFuel">
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-user"></i>Разходи
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i> Запиши </a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i> Анулирай </a>
      </div>
    </div>
    <div class="portlet-body">
      <!-- Nav tabs -->
      <div class="tabbable-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1" data-toggle="tab">
            Гориво </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              {{#autoForm doc=expensesFuel collection="Expenses" id="expensesFuelForm"}}
                  <fieldset>
                    <div class="col-md-7">
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="driver"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="invoiceNr"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="date"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="vehicle"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="fuelType" options="allowed"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="litres"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="pricePerLitre"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="totalVATIncluded"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="mileage"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="gasStationName"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="vatIncluded" leftLabel="true"}}
                    </div>
                </fieldset>
                {{/autoForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
