<template name="fleetrMap">
  <div id="custom-map-controls">
    <div id="pac-search" class="input-icon right" style="margin-top: 6px;">
      <i id="pac-input-clear" class="fa fa-close"></i>
      <input id="pac-input" type="text" class="form-control input-circle">
    </div>
    <div id="show-geofences" class="input-icon right" style="margin-top: 8px;">
      <input id="show-geofences-check" type="checkbox"> {{_ "button.showGeofences"}}
    </div>
    <div id="show-info-markers" class="input-icon right" style="margin-top: 5px;">
        <input id="show-info-markers-check" type="checkbox"> {{_ "simpleMap.showMarkers"}}
    </div>
  </div>
  <div id="map-canvas"></div>
  {{#if enableVehicleSelection}}
    {{centerMapOnVehicleSelection}}
    {{selectedVehiclePath}}
  {{/if}}
  {{infoMarkers}}
</template>
