<template name="expense">
  {{#autoForm collection="Expenses" doc=doc id="expenseForm" type="method" meteormethod="submitExpense"}}
     <fieldset>
        <legend></legend>
        {{> afFieldInput type="hidden" name="_id" value=_id}}
        {{> afQuickField name="expenseType" }}
        {{> afQuickField name="expenseGroup" autofocus=true}}
        {{> afQuickField name="vehicle"}}
        {{> afQuickField name="driver"}}
        {{> afQuickField name="odometer"}}
        {{> afQuickField name="location"}}
        {{> afQuickField name="description" rows=2}}
         <legend></legend>
        {{> afQuickField name="invoiceNr"}}
        {{> afQuickField name="date"}}
        {{> afQuickField name="quantity"}}
        {{> afQuickField name="totalVATIncluded"}}
        {{> afQuickField name="vat"}}
        {{> afQuickField name="discount"}}
        {{> afQuickField name="total"}}
    </fieldset>
  {{/autoForm}}
</template>
