<template name="expensesImport">
  <h1 class="page-header">Import expenses</h1>

  <ul class="nav nav-tabs">
    <li role="presentation" class="{{ activeIfTemplateIs 'fuelExpenses'}}"><a href="{{ pathFor 'importFuelExpenses'}}">Fuel expenses</a></li>
    <li role="presentation" class="{{ activeIfTemplateIs 'maintenanceExpenses'}}"><a href="#">Maintenance</a></li>
  </ul>

  {{> yield 'fuelexpenses'}}

</template>

<template name="fuelExpenses">
  <div class="container">
    {{#unless importing}}
      <input type="file" name="importFile">
    {{else}}
      <p><i class="fa fa-spin fa-refresh"></i> Importing ...</p>
    {{/unless}}

    <div class="container">
      {{> reactiveTable class="table table-bordered table-hover" settings=tableSettings collection=expenses}}
    </div>
  </div>
</template>
