<template name="companies">
	
	<h3 class="page-title">
		Автопаркове
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Начало</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Автопаркове</a>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet blue-hoki box">
				<div class="portlet-title">
					<div class="caption">
						<form>
							<input type="text" id="filterFleets" class="form-control search-query" placeholder="Търсене...">
						</form>
					</div>	
				</div>
				
				<div class="portlet-body">
					<div id="tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree" aria-activedescendant="j1_7">
						<ul class="jstree-container-ul jstree-children">
						{{#each companies}} {{>companyNode}} {{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</template>

<template name="companyNode">
	<li role="treeitem" data-jstree="{ &quot;opened&quot; : true }" aria-expanded="true" id="{{_id}}" class="jstree-node  jstree-open" aria-selected="false">
		<i class="jstree-icon jstree-ocl"></i>
			<a class="jstree-anchor " href="#">
				<i class="jstree-icon jstree-themeicon fa fa-briefcase icon-state-success  jstree-themeicon-custom"></i>
				{{name}}
			</a>
			<ul role="group" class="jstree-children" style="">
				{{#each fleets _id}} {{>fleetNode}} {{/each}}
			</ul>									
	</li>
</template>

<template name="fleetNode">
		<li role="treeitem" data-jstree="{ &quot;icon&quot; : &quot;fa fa-sitemap icon-state-success &quot; }" id="{{_id}}" class="jstree-node  jstree-leaf">
			<i class="jstree-icon jstree-ocl"></i>
			<a class="jstree-anchor" href="#">
				<i class="jstree-icon jstree-themeicon fa fa-sitemap icon-state-warning icon-lg jstree-themeicon-custom"></i>
				{{name}}
			</a>
		</li>
	
</template>


