<template name="fleetGroups">
		{{> pageHeader}}
    <div class="row">
        <div class="col-md-5">
						<ul class="list-group">
								{{#each fleetGroups}}
								<li class="list-group-item">
									<h4>
											<i class="excol-group fa fa-{{excolIcon}}"></i>
											<a href="#" class="group">{{name}}</a>
											<i class="fa fa-trash deleteGroup pull-right" title="Изтрий тази група"></i>
									</h4>
									{{#if fleets.count}}
									<hr>
									<ul class="list-group">
									{{#each fleets}}
									{{> fleetsPerGroup}}
									{{/each}}
									</ul>
									{{else}}
									<p class="text-muted">Отвори групата за да видиш всички {{fleetCount}} автопарка.</p>
									{{/if}}
								</li>
								{{/each}}
						</ul>
        </div>
        <div class="col-md-7">
						{{> detailsForm}}
						<hr>
						{{> fleetForm}}
        </div>
    </div>
</template>

<template name="fleetsPerGroup">
		<h5>
				<li class="list-group-item">
						<a href="#" class="fleet">{{name}}</a>
						<i class="fa fa-trash deleteFleet pull-right" title="Изтрий този автопарк"></i>
				</li>
		</h5>
</template>

<template name="detailsForm">
		{{#autoForm collection="FleetGroups" id="fleetGroupForm" doc=editingGroup type="method" meteormethod="submitFleetGroup"}}
	      <div class="form" id="fleetGroup-info">
	          <fieldset>
	          	  <legend>Иформация за групата</legend>
	              {{> afFieldInput type="hidden" name="_id" value=_id}}
	              {{> afQuickField name="name" placeholder='Въведи име и запиши за да създадеш нова група'}}
	          </fieldset>
	      </div>
	      <div>
	          <button type="submit" class="btn btn-primary">Запиши</button>
	          <button type="reset" class="btn btn-default reset">Изчисти</button>
	      </div>
		{{/autoForm}}
</template>

<template name="fleetForm">
    {{#autoForm collection="Fleets" id="fleetForm" doc=editingFleet type="method" meteormethod="submitFleet"}}
        <div class="form" id="fleet-info">
            <fieldset>
            	  <legend>Иформация за автопарка</legend>
								{{> afFieldInput type="hidden" name="_id" value=_id}}
                {{> afQuickField name="parent"}}
                {{> afQuickField name="name" placeholder='Въведи име и запиши за да създадеш нов автопарк'}}
            </fieldset>
				</div>
        <div>
          <button type="submit" class="btn btn-primary">Запиши</button>
          <button type="reset" class="btn btn-default reset">Изчисти</button>
        </div>
    {{/autoForm}}
</template>

<template name="pageHeader">
		<h3 class="page-title">
			{{pageTitle}}
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="/">Начало</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">{{pageTitle}}</a>
				</li>
			</ul>
		</div>
</template>
