<template name="notificationsList">

	<h3 class="page-title">
		Напомняния
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Начало</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Напомняния</a>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->

	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
		            {{> filter sessionVar='filterNotifications' placeholder='Търсене...'}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">

				        <table class="table table-striped">

				            <thead>
				                <tr>
				                    <th>Напомняне</th>
				         				</tr>
				            </thead>

				            <tbody>
				                {{#each notifications}} {{>notificationTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="notificationTableRow">
    <tr>
        <td>{{notificationMessage}}</td>
    </tr>
</template>
