<template name="tyre">
  {{#autoForm collection="Tyres" template="bootstrap3-inline"
            doc=doc id="tyreForm" type="method" meteormethod="submitTyre"}}
    <fieldset>
  	  {{> afFieldInput type="hidden" name="_id" value=_id}}
      {{> afQuickField name="width" autofocus=true}}
      {{> afQuickField name="height"}}
      {{> afQuickField name="innerDiameter"}}
      {{> afQuickField name="loadIndex"}}
      {{> afQuickField name="speedIndex"}}
      {{> afQuickField name="usedKm"}}
      {{> afQuickField name="changeKm"}}
      {{> afQuickField name="active"}}
      {{> afQuickField name="vehicle"}}
    </fieldset>
  {{/autoForm}}
</template>
