<template name="vehicles">

	<h3 class="page-title">
		Автомобили
	</h3>

	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption" id="vehicles">
		            {{> filter sessionVar='vehicleFilter' placeholder='Търсене...'}}
						</div>
						<div>
								<span style="font-color:red;">{{logging}}</span>
						</div>
						<div class="tools">
							<a href="{{pathFor 'addVehicle'}}"><span class="glyphicon glyphicon-plus"></span></a>
							{{#if selectedVehicleId}}
							<a href="#" class="addMaintenance"><span class="fa fa-wrench"></span></a>
							<a href="#" class="startLocationLogging"><span class="fa fa-play"></span></a>
							<a href="#" class="stopLocationLogging"><span class="fa fa-stop"></span></a>
							<a href="{{pathFor 'editVehicle' vehicleId=selectedVehicleId}}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="#" class="deleteVehicle"><span class="glyphicon glyphicon-trash"></span></a>
							{{/if}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">

				        <table class="table table-striped">

				            <thead>
				                <tr>
														<th>State</th>
				                    <th>Name</th>
				                    <th>No</th>
				                    <th>Fleet</th>
														<th>Driver</th>
				                    <th class="text-right">Odometer</th>
														<th class="text-right"><i class="fa fa-tags"></i></th>
														<th class="text-right"><i class="icon-bell"></i></th>
														<th class="text-right"><i class="icon-calendar"></i></th>
														<th class="text-right"><img src="/images/Google-Maps-icon.png" height="22" title="Show on the map" /></th>
				                </tr>
				            </thead>

				            <tbody>
				                {{#each vehicles}} {{>vehicleTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="vehicleTableRow">
    <tr class="{{active}}">
			<td class="text-center"><img src="{{stateImg}}" height="22" title="Current state" /></td>
        <td>{{name}}</td>
        <td>
					{{logging}}
					{{licensePlate}}</td>
        <td>{{fleetName}}</td>
				<td>{{driver}}</td>
        <td class="text-right">{{odometer}}</td>

				<td class="text-right" >
					<span data-toggle="popover" data-placement="top" data-content="{{tags}}">{{tagsInfo}}</span>
				</td>

				<!-- <td>
					{{#each tagsArray}}
					<span class="label label-danger filter-tag">{{this}}</span>
					{{/each}}
				</td> -->
				<td class="text-right"><span class="badge badge-danger">2</span></td>
				<td class="text-right"><span class="badge badge-warning">7</span></td>
				<td class="text-right">Go</td>
    </tr>
</template>
