h3.panel-title {
  display: none;
}

.tab-content .row {
  margin-top: 1em;
}

#driverForm img {
  width: 200px;
  height: 200px;
}

.form-group {
  font-size: 80%;
}

#driverForm div.scroller {
  height: 430px;
}
