<template name="driver">
  <div class="container">
    {{#autoForm schema=driverSchema id="driverForm"}}

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
            <li class="active"><a href="#pers-info" role="tab" data-toggle="tab">Лични данни</a></li>
            <li><a href="#prof-info" role="tab" data-toggle="tab">Професионални данни</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="pers-info" name="">
                <div class="row">
                  <fieldset>
                      <div class="col-md-4">
                        <legend>Основни данни</legend>
                          {{> afQuickField name="name"}}
                          {{> afQuickField name="firstName"}}
                          {{> afQuickField name="ssn"}}
                          {{> afQuickField name="birthDate"}}
                          {{> afQuickField name="sex" options="allowed" noselect="true"}}
                      </div>
                      <div class="col-md-4">
                        <legend>Документ за самоличност</legend>
                          {{> afQuickField name="idSerial"}}
                          {{> afQuickField name="idNo"}}
                          {{> afQuickField name="validFrom"}}
                          {{> afQuickField name="validTo"}}
                          {{> afQuickField name="issuedBy"}}
                          {{> afQuickField name="birthPlace"}}
                          {{> afQuickField name="bloodGroup" options="allowed"}}
                      </div>
                      <div class="col-md-4">
                          <img id="driverImage" src="{{driverImage}}" alt="Driver Photo" />
                          <input id="picture" name="picture" type="file"/>
                      </div>
                  </fieldset>
                </div>
            </div>
            <div class="tab-pane" id="prof-info">
                <div class="row">
                  <fieldset>
                      <div class="col-md-4">
                          <legend>Информация за контакт</legend>
                          {{> afQuickField name="city"}}
                          {{> afQuickField name="address"}}
                          {{> afQuickField name="county"}}
                          {{> afQuickField name="country"}}
                          {{> afQuickField name="email"}}
                          {{> afQuickField name="mobile"}}
                          {{> afQuickField name="phone"}}
                          {{> afQuickField name="officePhone"}}
                      </div>
                      <div class="col-md-4">
                          <legend>Свидетелство за управление</legend>
                          {{> afQuickField name="licenseIssueDate"}}
                          {{> afQuickField name="licenseExpieryDate"}}
                          {{> afQuickField name="categories"}}
                      </div>
                      <div class="col-md-4">
                          <legend>Информация за шофьора</legend>
                          {{> afQuickField name="medEvalExpieryDate"}}
                          {{> afQuickField name="profCertExpieryDate"}}
                          {{> afQuickField name="psychApprovalExpieryDate"}}
                          {{> afQuickField name="transportLicense"}}
                          {{> afQuickField name="education"}}
                          {{> afQuickField name="ownsPersonalLicense" radio="true" trueLabel="Yes" falseLabel="No"}}
                          {{> afQuickField name="ownVehicle"}}
                          {{> afQuickField name="active"}}
                      </div>
                  </fieldset>
                </div>
            </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Запиши</button>
          <button type="reset" class="btn btn-default">Анулирай</button>
        </div>
    {{/autoForm}}
  </div>
</template>
