<template name="driver">
  {{#autoForm doc=driver schema=driverSchema id="driverForm"}}
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-user"></i>Шофьор
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i> Запиши </a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i> Анулирай </a>
      </div>
    </div>
    <div class="portlet-body">
      <!-- Nav tabs -->
      <div class="tabbable-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1" data-toggle="tab">
            Лични данни </a>
          </li>
          <li>
            <a href="#tab_2" data-toggle="tab">
            Документ за самоличност </a>
          </li>
          <li>
            <a href="#tab_3" data-toggle="tab">
            Информация за контакт </a>
          </li>
          <li>
            <a href="#tab_4" data-toggle="tab">
            Свидетелство за управление</a>
          </li>
          <li>
            <a href="#tab_5" data-toggle="tab">
            Професионални данни </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <fieldset>
                <div class="col-md-5">
                    {{> afFieldInput type="hidden" name="_id" value=_id}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="firstName"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="name"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="ssn"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="birthDate"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="sex" options="allowed"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="education"}}
                    {{> afQuickField leftLabel="true" template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-7" name="active"}}
                </div>
                <div class="col-md-4">
                    {{> afQuickField name="tags"}}
                </div>
                <div class="col-md-3">
                  <img id="driverImage" src="{{driverImage}}" alt="Driver Photo" />
                  <input id="picture" name="picture" type="file"/>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_2">
            <div class="row">  <fieldset>
                  <div class="col-md-6">
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="idType" options="allowed"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="idSerial"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="idNo"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="validFrom"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="validTo"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="issuedBy"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="birthPlace"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="bloodGroup" options="allowed"}}
                  </div>
                </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_3">
            <div class="row">
                <fieldset>
                  <div class="col-md-6">
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="city"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="address"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="county"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="country"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="email"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="mobile"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="officePhone"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="phone"}}
                  </div>
                </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_4">
            <div class="row">
              <fieldset>
                  <div class="col-md-6">
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="licenseIssueDate"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="licenseExpieryDate"}}
                  </div>
                  <div class="col-md-6">
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="categories"}}
                  </div>
                </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_5">
            <div class="row">
              <fieldset>
                  <div class="col-md-9">
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-8" input-col-class="col-sm-4" name="medEvalExpieryDate"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-8" input-col-class="col-sm-4" name="profCertExpieryDate"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-8" input-col-class="col-sm-4" name="psychApprovalExpieryDate"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-8" input-col-class="col-sm-4" name="transportLicense"}}
                    {{> afQuickField leftLabel="true" template="bootstrap3-horizontal" label-class="col-sm-8" input-col-class="col-sm-4" name="ownsPersonalLicense"}}
                    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-8" input-col-class="col-sm-4" name="ownVehicle"}}
                  </div>
                </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/autoForm}}

</template>
