<template name="alarms">
  <!-- BEGIN EVENTS DROPDOWN -->
  <li class="dropdown dropdown-extended dropdown-alarms" id="header_alarm_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    {{#if unseenAlarmsExist }}
      <span class="badge badge-default">{{unseenAlarmsCount}}</span>
    {{/if}}
    </a>
      <ul class="dropdown-menu">
        <li>
          <p>
             Имате {{unseenAlarmsCount}} нови аларми
          </p>
        </li>
        <li>
          <ul class="dropdown-menu-list scroller" style="height: 250px;">
            {{#each unseenAlarms}}
              {{> alarm}}
            {{/each}}
          </ul>
        </li>
        <li class="external">
          <a href="{{pathFor 'listAlarms'}}">Вижте всички аларми<i class="m-icon-swapright"></i>
          </a>
        </li>
      </ul>
    </li>

  <!-- END EVENTS DROPDOWN -->
</template>

<template name="alarm">
  <li>
    <a href="#">
    <span class="label label-sm label-icon label-danger">
    <i class="icon-bell"></i>
    </span>
    {{alarmText}}
    <span class="time" style="{{style}}">
      <small>{{timeElapsed}}</small>
    </span>
    </a>
  </li>
</template>
