<template name="headerAlarms">
  <!-- BEGIN EVENTS DROPDOWN -->

  <li class="dropdown dropdown-alarms" id="header_alarm_bar">
    <a style="margin-bottom: 0px;" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
      <i class="pe-7s-bell" style="font-size: 25px;"></i>
      <b class="caret"></b>
      {{#if unseenAlarmsExist }}
        <span class="notification">{{unseenAlarmsCount}}</span>
      {{/if}}
    </a>
    <ul class="dropdown-menu" style="width:450px">
      <li style='padding:10px; font-weight:strong; font-size:120%;border-bottom: 1px solid #F7F7F8;margin-bottom: 5px;'>Имате {{unseenAlarmsCount}} нови аларми</li>
      {{#each unseenAlarms}}
        {{> headerAlarm}}
      {{/each}}
    </ul>
  </li>

  <!-- END EVENTS DROPDOWN -->
</template>

<template name="headerAlarm">
  <li>
    <a href="/alarms/list" style="white-space: normal;">
    <i class="pe-7s-bell" style='font-size: 120%'></i>
    {{alarmText}}
    <span class="time" style="{{style}};"><small>{{timeAgo}}</small>
    </span>
    </a>
  </li>
</template>
