<template name="header">
	<div class="page-header navbar navbar-fixed-top">
		<div class="page-header-inner">
			<div class="page-logo">
				<a href="/">
				<!--
				<img src="img/logo.png" alt="logo" class="logo-default"/>
				-->
				</a>
				<div class="page-title"> fleetr </div>

				<div class="menu-toggler sidebar-toggler hide">
					<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
				</div>
			</div>
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
			</a>
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="input-sm">
						{{> i18n_dropdown}}
					</li>
					{{> alarms}}
					{{> messages}}
					{{> notifications}}
					{{> user}}
				</ul>
			</div>
		</div>
	</div>
</template>
