<template name="user">
  <li class="dropdown dropdown-user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
    <span class="username username-hide-on-mobile">{{userEmail}}</span>
    <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" >
      <li>
        {{> i18n_dropdown}}
      </li>
      <li class="divider">
      </li>
      {{#if isInRole 'admin'}}
      <li>
        <a href="{{pathForAdminBoard}}" target="_blank">
          {{_ "menu.admin"}}
        </a>
      </li>
      <li>
        <a href="{{pathFor 'settings'}}">
          {{_ "menu.configurationSettings"}}
        </a>
      </li>
      {{/if}}      <li>
        <a href="{{pathFor 'entrySignOut'}}">
          {{_ "menu.signOut"}}
        </a>
      </li>
    </ul>
  </li>
</template>
