<template name="user">
  <li class="dropdown dropdown-user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <img alt="" class="img-circle hide1" src="/img/avatar3_small.jpg"/>
    <span class="username username-hide-on-mobile">{{userEmail}}</span>
    <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">
        <i class="icon-user"></i>Настройки</a>
      </li>
      <li>
        <a href="#">
        <i class="icon-calendar"></i>Календар</a>
      </li>

      <li class="divider">
      </li>
      <li>
        <a href="/sign-out">
        <i class="icon-key"></i> Излизане от системата </a>
      </li>
    </ul>
  </li>
</template>
