<template name="map">
    {{> BootstrapAlerts}}
    <div class="row">
        <div class="col-md-12">
          <div class="portlet light">
            <div class="portlet-title">
              <div class="caption" id="fleets">
                  <div class="caption-subject">
                    <h1 class="bold">Карта на автомобили</h1>
                  </div>
              </div>
              <div class="actions">
                <a href="#" id="toggle-geofences" class="btn btn-circle btn-default {{#if showGeofences}}active{{/if}}">
                  <i class="icon-home"></i>
                  {{_ "button.showGeofences"}}
                </a>
                <a href="#" id="toggle-filter" class="btn btn-circle btn-default {{#if showFilterBox}}active{{/if}}">
                  <i class="glyphicon glyphicon-filter"></i>
                  {{_ "button.filter"}}
                </a>
                <a href="#" class="btn btn-circle btn-icon-only btn-default fullscreen"></a>
              </div>
            </div>
            <div class="portlet-body" id="map-container">
              <div class="row">
                <div class="col-md-5 map-filter {{#if showFilterBox}}open{{/if}}" id="vehicle-filter-box">
                   {{> vehicleFilter selectedVehicleIdVar="selectedVehicleId" filterVar="vehicleFilter" options=filterOptions}}
                   {{> fleetrGrid id="driversList" config=fleetrGridConfig }}
                </div>
                 <div class="col-md-12">
                   <section class="content">
                     <div id="pac-search" class="input-icon right" style="margin-top: 6px;">
                         <i id="pac-input-clear" class="fa fa-close"></i>
                         <input id="pac-input" type="text" class="form-control input-circle">
                     </div>
                     <div id="map-canvas"></div>
                   </section>
                 </div>

               </div>
            </div>
         </div>
       </div>
     </div>
</template>

<template name="simpleMap">
  <div id="show-info-markers" class="input-icon right" style="margin-top: 5px; margin-left: 5px;">
      <input id="show-info-markers-check" type="checkbox"> {{_ "simpleMap.showMarkers"}}
  </div>
  <div id="simpleMap" data-show-info-markers={{showInfoMarkers}}></div>
</template>
