#map-canvas, #simpleMap {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#map-canvas {
    height: calc(100vh - 61px);
}

#simpleMap {
    height: calc(100vh - 150px);
}

#map-container {
  padding: 0;
  position:relative;
  overflow: hidden;
}

.map-filter {
  -webkit-transition: all .5s; /* Safari */
   transition: all .5s;;
  position: absolute;
  left: 100%;
  top: 0;
  background: white;
  background: rgba(255,255,255, .7);
  padding: 15px;
  z-index: 999;
  height: 100%;
}
.map-filter.open {
    -ms-transform: translate(-100%); /* IE 9 */
   	-webkit-transform: translate(-100%); /* Safari */
    transform: translate(-100%);
}
@media (max-width: 992px) {
    .map-filter {
      display: none;
      position: relative;
      left: 0;
    }
    .map-filter.open {
      display: block;
      -ms-transform: none;
     	-webkit-transform: none;
      transform: none;
    }
}

.controls {
  margin-top: 6px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 35px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0px 11px 0px 13px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
}

#custom-map-controls {
  margin-left: 10px;
  width: 50%;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
