<template name="map">
  <div class="portlet-body" id="map-container" style="width:100%; height:calc(100vh - 61px)">
    <div class="row">
      <div class="col-md-5 map-filter {{#if showFilterBox}}open{{/if}}" id="vehicle-filter-box">
        {{> vehicleFilter selectedVehicleIdVar="selectedVehicleId" filterVar="vehicleFilter" options=filterOptions}}
        {{> fleetrGrid id="driversList" config=fleetrGridConfig }}
     </div>
     <div class="col-md-12">
       <section class="content">
         {{> fleetrMap vehicleId=selectedVehicleId}}
       </section>
     </div>
   </div>
 </div>
</template>

<template name="simpleMap">
  {{#if data.start.time}}
  <h2 style="position: absolute;top: 30px;right: 0px;z-index: 100;background: white;padding: 10px;">
    <small class="pull-right">{{startTime}} - {{stopTime}}</small>
  </h2>
  {{/if}}
  {{> fleetrMap showVehicles=false enableVehicleSelection=false}}
  {{showInfoMarkers}}
</template>
