<template name="document">
  {{#autoForm collection="Documents" doc=doc id="documentForm" type="method" meteormethod="submitDocument"}}
    <fieldset>
	    {{> afFieldInput type="hidden" name="_id" value=_id}}
	    {{> afFieldInput type="hidden" name="driverId" value=driverId}}
	    {{> afQuickField name="type" autofocus=true}}
	    {{> afQuickField name="number" }}
	    {{> afQuickField name="validFrom" buttonClasses="fa fa-calendar"}}
	    {{> afQuickField name="validTo" buttonClasses="fa fa-calendar"}}
	    {{> afQuickField name="issuedBy" }}
    </fieldset>
  {{/autoForm}}
</template>