<template name="odometerCorrections">
	<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <td style="width: 50px">Статус</td>
      <td style="width: 150px">Име</td>
      <td style="width: 80px">Одометър</td>
    </tr>
  </thead>
  <tbody>
    {{#each vehicles}}
      <tr>
        <td>{{this.state}}</td>
        <td>{{this.name}}</td>
        <td>
        {{#autoForm id=formId type="update" collection=Vehicles doc=this autosave=true}}
          {{> afFieldInput name="odometer"}}
        {{/autoForm}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>