<template name="insurancePayment">
  {{#autoForm collection="InsurancePayments" doc=doc id="insurancePaymentsForm" type="method" meteormethod="submitInsurancePayment"}}
    <fieldset>
  	  {{> afFieldInput type="hidden" name="_id" value=_id}}
      {{> afFieldInput type="hidden" name="insuranceId" value=insuranceId}}
      {{> afQuickField name="montlyPayment" autofocus=true }}
      {{> afQuickField name="plannedDate" }}
      {{> afQuickField name="actualDate" }}
      {{> afQuickField name="currency" }}
      {{> afQuickField name="amountNoVAT" }}
      {{> afQuickField name="amountWithVAT" }}
      {{> afQuickField name="VONumber" }}
      {{> afQuickField name="invoiceNo" }}
      {{> afQuickField name="balance" }}
    </fieldset>
  {{/autoForm}}
</template>
