<template name="sidebar">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>
				<li  class="{{isActiveRoute regex='dashboard'}}">
					<a href="#">
					<i class="icon-bar-chart"></i>
					<span class="title">{{_ "menu.dashboard"}}</span>
					<span class="selected"></span>
					</a>
					<ul class="sub-menu">
						<li class="active">
							<a href="{{pathFor 'dashboard'}}">
								{{_ "menu.dashboard"}}</a>
						</li>
					</ul>
				</li>
				<li class="{{isActivePath regex='fleet|vehicles|mapVehicles|tyres'}}">
					<a href="#">
					<i class="fa fa-car"></i>
					<span class="title">{{_ "menu.fleets"}}</span>
					<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='listFleetGroups'}}">
							<a href="{{pathFor 'listFleetGroups'}}">
								{{_ "menu.listFleetGroups"}}</a>
						</li>
						<li class="{{isActiveRoute regex='listFleets'}}">
							<a href="{{pathFor 'listFleets'}}">
								{{_ "menu.listFleets"}}</a>
						</li>
						<li class="{{isActiveRoute regex='listVehicles'}}">
							<a href="{{pathFor 'listVehicles'}}">
								{{_ "menu.listVehicles"}}</a>
						</li>
						<li class="{{isActiveRoute regex='listTyres'}}">
							<a href="{{pathFor 'listTyres'}}">
								{{_ "menu.listTyres"}}</a>
						</li>
						<li class="{{isActiveRoute regex='mapVehicles'}}">
							<a href="{{pathFor 'mapVehicles'}}">
								{{_ "menu.map"}}</a>
						</li>
					</ul>
				</li>

				<li class="{{isActiveRoute regex='driver|mapDrivers|assignments'}}">
					<a href="#">
					<i class="icon-user"></i>
					<span class="title">{{_ "menu.drivers"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='listDrivers$'}}">
							<a href="{{pathFor 'listDrivers'}}">
								{{_ "menu.listDrivers"}}</a>
							</li>
						<li class="{{isActiveRoute regex='listDrivers2'}}">
							<a href="{{pathFor 'listDrivers2'}}">
								{{_ "menu.listDrivers"}}2</a>
							</li>
						<li class="{{isActiveRoute regex='listDriverVehicleAssignments'}}">
							<a href="{{pathFor 'listDriverVehicleAssignments'}}">
								{{_ "menu.drivers_vehicles"}}</a>
						</li>
					</ul>
				</li>
				<li class="{{isActiveRoute regex='geofences'}}">
					<a href="#">
					<i class="icon-home"></i>
					<span class="title">{{_ "menu.objects"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='geofences'}}">
							<a href="{{pathFor 'geofences'}}">
								{{_ "menu.map"}}</a>
						</li>
					</ul>
				</li>

				<li class="{{isActiveRoute regex='addExpense|listExpenseTypes|listExpenseGroups'}}">
					<a href="#">
						<i class="fa fa-dollar"></i>
						<span class="title">{{_ "menu.expenses"}}</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='expenses/add'}}">
							<a href="{{pathFor 'addExpense'}}">{{_ "menu.addExpense"}}</a>
						</li>
						<li class="{{isActiveRoute regex='expenses/types'}}">
							<a href="{{pathFor 'listExpenseTypes'}}">{{_ "menu.listExpenseTypes"}}</a>
						</li>
						<li class="{{isActiveRoute regex='expenses/groups'}}">
							<a href="{{pathFor 'listExpenseGroups'}}">{{_ "menu.listExpenseGroups"}}</a>
						</li>
					</ul>
					</li>

					<li class="{{isActiveRoute regex='maintenanceType'}}">
						<a href="#">
							<i class="fa fa-wrench"></i>
							<span class="title">{{_ "menu.maintenances"}}</span>
							<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
						<li class="{{isActiveRoute regex='maintenance'}}">
								<a href="{{pathFor 'listMaintenanceType'}}">
									{{_ "menu.listMaintenanceTypes"}}</a>
						</li>
						</ul>
					</li>

					<li class="{{isActiveRoute regex='insurance'}}">
						<a href="#">
							<i class="fa fa-university"></i>
							<span class="title">{{_ "menu.insurances"}}</span>
							<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
						<li class="{{isActiveRoute regex='insurance'}}">
								<a href="{{pathFor 'listInsuranceTypes'}}">
								{{_ "menu.listInsuranceTypes"}}</a>
						</li>
						</ul>
					</li>

				<li class="{{isActiveRoute regex='Report'}}">
					<a href="#">
					<i class="icon-docs"></i>
					<span class="title">{{_ "menu.reports"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='expenseReport'}}">
							<a href="{{pathFor 'expenseReport'}}">{{_ "menu.expenseReport"}}</a>
						</li>
						<li class="{{isActiveRoute regex='maintenanceReport'}}">
							<a href="{{pathFor 'maintenanceReport'}}">{{_ "menu.maintenanceReport"}}</a>
						</li>
						<li class="{{isActiveRoute regex='^logbookReport$'}}">
							<a href="{{pathFor 'logbookReport'}}">{{_ "menu.logbook"}}</a>
						</li>
						<li class="{{isActiveRoute regex='logbookReport2'}}">
							<a href="{{pathFor 'logbookReport2'}}">{{_ "menu.logbook"}}2</a>
						</li>
						<li class="{{isActiveRoute regex='reclog'}}">
							<a href="{{pathFor 'reclogReport'}}">{{_ "menu.reclog"}}</a>
						</li>
					</ul>
				</li>
				<!-- BEGIN FRONTEND THEME LINKS -->
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
</template>
