<template name="sidebar">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>


				{{#if isInRole 'admin'}}
				<li class="{{isActiveRoute regex='admin|setings'}}">
					<a href="#">
					<i class="fa fa-gears"></i>
					<span class="title">{{_ "menu.admin"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='admin'}}">
							<a href="{{pathForAdminBoard}}">
							<i class="fa fa-user"></i>
							<span class="title">{{_ "menu.userAdmin"}}</span>
							</a>
						</li>
						<li class="{{isActiveRoute regex='admin'}}">
							<a href="{{pathFor 'settings'}}">
							<i class="fa fa-gear"></i>
							<span class="title">{{_ "menu.configurationSettings"}}</span>
							</a>
						</li>
					</ul>
				</li>
				{{/if}}

				<li class="{{isActiveRoute regex='dashboard'}}">
					<a href="{{pathFor 'dashboard'}}">
					<i class="icon-bar-chart"></i>
					<span class="title">{{_ "menu.dashboard"}}</span>
					</a>
				</li>

				<li class="{{isActiveRoute regex='listVehicles'}}">
					<a href="#">
					<i class="fa fa-car"></i>
					<span class="title">{{_ "menu.listVehicles"}}</span>
					<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="show-all-vehicles" href="/vehicles/list">
							<span class="title">{{_ "menu.vehicles.all"}}</span>
							<span class="arrow"></span>
							</a>
						</li>
						{{#each fleetGroups}}
						<li>
							<a href="#">
							<span class="title">{{name}}</span>
							<span class="arrow"></span>
							</a>
							<ul class="sub-menu">
								{{#each fleets}}
									<li>
										<a class="show-fleet-vehicles" href="{{pathFor 'listVehicles' fleetName=name}}">
										<span class="title">{{name}}</span>
										<span class="arrow"></span>
										</a>
									</li>
								{{/each}}
							</ul>
						</li>
						{{/each}}
					</ul>
				</li>



				<li class="{{isActiveRoute regex='mapVehicles'}}">
					<a href="{{pathFor 'mapVehicles'}}">
					<i class="fa fa-map-marker"></i>
					<span class="title">{{_ "menu.map"}}</span>
					</a>
				</li>

				{{#if isInRole 'admin,editor'}}

				<li class="{{isActiveRoute regex='listFleet'}}">
					<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span class="title">{{_ "menu.fleets"}}</span>
					<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='listFleetGroups'}}">
							<a href="{{pathFor 'listFleetGroups'}}">
								{{_ "menu.listFleetGroups"}}</a>
						</li>
						<li class="{{isActiveRoute regex='listFleets'}}">
							<a href="{{pathFor 'listFleets'}}">
								{{_ "menu.listFleets"}}</a>
						</li>
					</ul>
				</li>

				<li class="{{isActiveRoute regex='driver|mapDrivers|assignments'}}">
					<a href="#">
					<i class="icon-user"></i>
					<span class="title">{{_ "menu.drivers"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='listDrivers$'}}">
							<a href="{{pathFor 'listDrivers'}}">
								{{_ "menu.listDrivers"}}</a>
						</li>
						<li class="{{isActiveRoute regex='listDriverVehicleAssignments'}}">
							<a href="{{pathFor 'listDriverVehicleAssignments'}}">
								{{_ "menu.drivers_vehicles"}}</a>
						</li>
						<li class="{{isActiveRoute regex='documents/types'}}">
							<a href="{{pathFor 'listDocumentTypes'}}">{{_ "menu.listDocumentTypes"}}</a>
						</li>
					</ul>
				</li>

				<li class="{{isActiveRoute regex='geofences'}}">
					<a href="{{pathFor 'geofences'}}">
					<i class="icon-home"></i>
					<span class="title">{{_ "menu.objects"}}</span>
					</a>
				</li>

				<li class="{{isActiveRoute regex='listExpenses|listExpenseTypes|listExpenseGroups|importExpenses'}}">
					<a href="#">
						<i class="fa fa-dollar"></i>
						<span class="title">{{_ "menu.expenses"}}</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='expenses/add'}}">
							<a href="{{pathFor 'listExpenses'}}">{{_ "menu.listExpenses"}}</a>
						</li>
						<li class="{{isActiveRoute regex='expenses/import'}}">
							<a href="{{pathFor 'importExpenses'}}">{{_ "menu.importExpenses"}}</a>
						</li>
						<li class="{{isActiveRoute regex='expenses/types'}}">
							<a href="{{pathFor 'listExpenseTypes'}}">{{_ "menu.listExpenseTypes"}}</a>
						</li>
						<li class="{{isActiveRoute regex='expenses/groups'}}">
							<a href="{{pathFor 'listExpenseGroups'}}">{{_ "menu.listExpenseGroups"}}</a>
						</li>
					</ul>
					</li>

					<li class="{{isActiveRoute regex='maintenanceType|listTyres'}}">
						<a href="#">
							<i class="fa fa-wrench"></i>
							<span class="title">{{_ "menu.maintenances"}}</span>
							<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li class="{{isActiveRoute regex='maintenance'}}">
								<a href="{{pathFor 'listMaintenanceType'}}">
									{{_ "menu.listMaintenanceTypes"}}</a>
							</li>

							<li class="{{isActiveRoute regex='listTyres'}}">
								<a href="{{pathFor 'listTyres'}}">
									{{_ "menu.listTyres"}}</a>
							</li>
						</ul>
					</li>

					<li class="{{isActiveRoute regex='insurance'}}">
						<a href="#">
							<i class="fa fa-university"></i>
							<span class="title">{{_ "menu.insurances"}}</span>
							<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li class="{{isActiveRoute regex='insurance'}}">
								<a href="{{pathFor 'listInsurances'}}">
								{{_ "menu.insurances"}}</a>
							</li>
							<li class="{{isActiveRoute regex='insurance'}}">
								<a href="{{pathFor 'listInsuranceTypes'}}">
								{{_ "menu.listInsuranceTypes"}}</a>
							</li>
						</ul>
					</li>

				<li class="{{isActiveRoute regex='Report'}}">
					<a href="#">
					<i class="icon-docs"></i>
					<span class="title">{{_ "menu.reports"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='fullLogbookReport'}}">
							<a href="{{pathFor 'fullLogbookReport'}}">{{_ "menu.logbook"}}</a>
						</li>
						<li class="{{isActiveRoute regex='expenseReport'}}">
							<a href="{{pathFor 'expenseReport'}}">{{_ "menu.expenseReport"}}</a>
						</li>
						<li class="{{isActiveRoute regex='maintenanceReport'}}">
							<a href="{{pathFor 'maintenanceReport'}}">{{_ "menu.maintenanceReport"}}</a>
						</li>
					</ul>
				</li>
				<li class="{{isActiveRoute regex='events'}}">
					<a href="#">
					<i class="icon-calendar"></i>
					<span class="title">{{_ "menu.notifications"}}</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{isActiveRoute regex='custom-events'}}">
							<a href="{{pathFor 'listCustomEvents'}}">{{_ "menu.notifications"}}</a>
						</li>
						<li class="{{isActiveRoute regex='geofence-events'}}">
							<a href="{{pathFor 'listGeofenceEvents'}}">{{_ "menu.geofenceNotifications"}}</a>
						</li>
					</ul>
				</li>
				<li class="{{isActiveRoute regex='alarms'}}">
					<a href="{{pathFor 'listAlarms'}}">
					<i class="icon-bell"></i>
					<span class="title">{{_ "menu.alarms"}}</span>
					</a>
				</li>

				{{/if}}

				<!-- BEGIN FRONTEND THEME LINKS -->
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
</template>
