<template name="fleets">
 		<div class="row">
			<div class="col-md-12">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption" id="fleets">
								<div class="caption-subject">
									<h1 class="bold uppercase">{{_ "fleet.listTitle"}}</h1>
								</div>
						</div>
						<div class="actions">
							<a href="#" class="btn btn-circle btn-default add-fleet">
                <i class="fa fa-plus"></i>
                {{_ "button.add"}}
              </a>
							{{#if selectedFleetId}}
							<a href="#" class="btn btn-circle btn-default edit-fleet">
                <i class="icon-pencil"></i>
                {{_ "button.edit"}}
              </a>
							<a href="#" class="btn btn-circle btn-default delete-fleet">
                <i class="icon-trash"></i>
                {{_ "button.delete"}}
              </a>
							{{/if}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">
						{{> fleetrGrid id="fleetsList" config=fleetsConfig }}
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>
