<template name="customEvents">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab_1" data-toggle="tab">
					{{_ "customEvents.tabs.calendar"}}</a>
				</li>
				<li>
					<a href="#tab_2" data-toggle="tab">
					{{_ "customEvents.tabs.list"}}</a>
				</li>

				<button type="button" class="pull-right btn btn-info btn-xs glyphicon glyphicon-triangle-bottom" data-toggle="collapse" data-target="#details"></button>

			</ul>

			<div class="tab-content">
				<div class="container">
				  <div id="details" class="collapse">
						<p>
				    {{ content }}
						</p>
				  </div>
				</div>
				<div class="tab-pane active calendar-pane" id="tab_1">
					{{> React component=BigCalendar onSelectEvent=onSelectEvent onSelectSlot=onSelectSlot}}
				</div>
				<div class="tab-pane" id="tab_2">
					{{> fleetrGrid config=gridConfig }}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="seenNotification">
	{{> checkboxCell submitMethod='submitCustomEvent' field='active' data=this}}
</template>
