<template name="vehicle">
<div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-car"></i>Vehicle
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i> Save </a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i> Cancel </a>
      </div>
    </div>
    <div class="portlet-body">
      {{#autoForm collection="Vehicles" doc=vehicle id="vehicleForm" type="method" meteormethod="submitVehicle"}}
      <div class="tabbable-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1" data-toggle="tab">
            Basic data</a>
          </li>
          <li>
            <a href="#tab_2" data-toggle="tab">
            VIN info </a>
          </li>
          <li>
            <a href="#tab_4" data-toggle="tab">
            Working Schedule </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <fieldset>
                  <div class="col-md-6">
                  	  {{> afFieldInput type="hidden" name="_id" value=_id}}
                      {{> afQuickField name="licensePlate"}}
                      {{> afQuickField name="identificationNumber"}}
                      {{> afQuickField name="engineNumber"}}
                      {{> afQuickField name="color"}}
                      {{> afQuickField name="allocatedToFleet"}}
                      {{> afQuickField name="allocatedToFleetFromDate"}}
                      {{> afQuickField name="nextTechnicalCheck"}}
                      {{> afQuickField name="active"}}
                    </div>
                  <div class="col-md-6">
                    {{> afQuickField name="tags"}}
                  </div>
              </fieldset>
            </div>
          </div>

          <div class="tab-pane" id="tab_2">
            <div class="row">
              <fieldset>
                  <div class="col-md-6">
                    {{> afQuickField name="category"}}
                    {{> afQuickField name="make"}}
                    {{> afQuickField name="model" options=modelOptions}}
                    {{> afQuickField name="kind"}}
                    {{> afQuickField name="productionYear"}}
                    {{> afQuickField name="body"}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name="maxPower"}}
                  {{> afQuickField name="fuelType"}}
                  {{> afQuickField name="engineDisplacement"}}
                  {{> afQuickField name="maxFuelCapacity"}}
                  {{> afQuickField name="maxSpeed"}}
                  {{> afQuickField name="mass"}}
                </div>
              </fieldset>
            </div>
          </div>

          <div class="tab-pane" id="tab_4">
            <fieldset>
              <div class="table-responsive">
                <table class="table table-striped vehicle-schedule-table" cellpadding="10">
                  <thead>
                      <tr>
                        <th>Ден</th><th>От</th><th>До</th>
                      </tr>
                  </thead>
                  {{#each days}}
                    {{> timePickersForDay}}
                  {{/each}}
                </table>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      {{/autoForm}}
   </div>
 </div>
</template>

<template name="timePickersForDay">
  <tr>
    <td> {{day}} </td>

    <td>
      <div class="input-group date" id="timepicker{{seq}}From">
        <span class="input-group-addon datepickerbutton">
            <span class="glyphicon glyphicon-time"></span>
        </span>
        {{> afFieldInput name=fromField type="text"}}
        <span class="help-block"></span>
      </div>
    </td>
    <td>
      <div class="input-group date" id="timepicker{{seq}}To">
        <span class="input-group-addon datepickerbutton">
            <span class="glyphicon glyphicon-time"></span>
        </span>
        {{> afFieldInput name=toField type="text"}}
        <span class="help-block"></span>
      </div>
    </td>
  </tr>
</template>
