<template name="vehicle">
  {{#autoForm schema=vehicleSchema doc=vehicle id="vehicleForm" type="method" meteormethod="submitVehicle"}}
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="/">Начало</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Автомобил</a>
      </li>
    </ul>
  </div>
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-car"></i>Автомобил
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i> Запиши </a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i> Анулирай </a>
      </div>
    </div>
    <div class="portlet-body">
      <!-- Nav tabs -->
      <div class="tabbable-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1" data-toggle="tab">
            Основни данни </a>
          </li>
          <li>
            <a href="#tab_2" data-toggle="tab">
            График </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <fieldset>
                  <div class="col-md-7">
                  	  {{> afFieldInput type="hidden" name="_id" value=_id}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="licensePlate"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="identificationNumber"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="allocatedToFleet"}}
                      {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-6" input-col-class="col-sm-6" name="allocatedToFleetFromDate"}}
                    </div>
                  <div class="col-md-5">
                    {{> afQuickField name="tags"}}
                  </div>
              </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_2">
            <fieldset>
              <div class="table-responsive">
                <table class="table table-striped vehicle-schedule-table" cellpadding="10">
                  <thead>
                      <tr>
                        <th>Ден</th><th>От</th><th>До</th>
                      </tr>
                  </thead>
                  {{#each days}}
                    {{> timePickersForDay}}
                  {{/each}}
                </table>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
   </div>
 </div>
{{/autoForm}}
</template>

<template name="timePickersForDay">
  <tr>
    <td> {{day}} </td>

    <td>
      <div class="input-group date" id="timepicker{{seq}}From">
        <span class="input-group-addon datepickerbutton">
            <span class="glyphicon glyphicon-time"></span>
        </span>
        {{> afFieldInput name=fromField type="text"}}
        <span class="help-block"></span>
      </div>
    </td>
    <td>
      <div class="input-group date" id="timepicker{{seq}}To">
        <span class="input-group-addon datepickerbutton">
            <span class="glyphicon glyphicon-time"></span>
        </span>
        {{> afFieldInput name=toField type="text"}}
        <span class="help-block"></span>
      </div>
    </td>
  </tr>
</template>
