div.radio {
  display: inline-block;
}

h3.panel-title {
  display: none;
}

.tab-content .row {
  margin-top: 1em;
}

.filter-tag {
  cursor: pointer;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
}
