div.radio {
  display: inline-block;
}

h3.panel-title {
  display: none;
}

.tab-content .row {
  margin-top: 1em;
}

.filter-tag {
  cursor: pointer;
}

.vehicle-schedule-table, .vehicle-alarms-table  {
  width: 50%;
}
