.message-row {
 	color: #aaaaaa;
}

.regular-row {
}
  
.start-row {
	background-color: green;
  color: white;
}

.stop-row {
	background-color: red;
  color: white;
}

.event-row {
	background-color: yellow;
  color: black;
}

.distance {
	text-align: right;
}

.odometer {
	text-align: right;
}

.speed {
	text-align: right;
}

