<template name="reclog">
	<!-- <div class="table-responsive"> -->
		<!-- {{> reactiveTable settings=opts}} -->
		<!-- {{> ReactiveDatatable tableData=datafunc options=options }} -->
		<!-- Event: <select id="selectEventType">
			<option value="">all</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="35">35</option>
			<option value="98">98</option>
		</select> -->
		{{> tabular table=TabularTables.RecLog selector=selector class="table table-striped table-bordered table-condensed"}}
	<!-- </div> -->
</template>
