<template name="drivers">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption" id="driversGroup">
						<div class="caption-subject">
							<h1 class="bold uppercase">{{_ "drivers.title"}}</h1>
						</div>
					</div>
					<div class="actions">
						<a href="{{pathFor 'addDriver'}}" class="btn btn-circle btn-default">
		                <i class="fa fa-plus"></i>
		                {{_ "button.add"}}
		              	</a>
						{{#if selectedDriverId}}
							<a href="{{pathFor 'editDriver' driverId=selectedDriverId}}" class="btn btn-circle btn-default">
			   				<i class="icon-pencil"></i>
			    			{{_ "button.edit"}}
			  				</a>
							<a href="#" class="deleteDriver btn btn-circle btn-default">
			   				 <i class="icon-trash"></i>
			   				 {{_ "button.delete"}}
			 				 </a>
						{{/if}}
					</div>
				</div>
				<div class="portlet-body">
				    <section class="content">
						{{> fleetrGrid id="driversList" config=driversConfig }}
				    </section>
			 	</div>
			</div>
		</div>
	</div>
</template>
