<template name="drivers">
    <section class="content">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>License Categories</th>
                </tr>
            </thead>

            <tbody>
                {{#each drivers}}
                    {{>driverTableRow}}
                {{/each}}
            </tbody>
        </table>
    </section>
</template>

<template name="driverTableRow">
    <tr>
        <td>{{fullName}}</td>
        <td>{{licenseCats}}</td>
    </tr>
</template>
