<template name="crud">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<div class="caption-subject">
							<h1 class="bold uppercase">{{_ title}}</h1>
						</div>
					</div>
					<div class="actions">
						<a href="#" class="btn btn-circle btn-default add-item">
       						<i class="fa fa-plus"></i>
       						{{_ "button.add"}}
  					</a>
						{{#if selectedItemId}}
							<a href="#" class="btn btn-circle btn-default edit-item">
       							<i class="icon-pencil"></i>
        						{{_ "button.edit"}}
  						</a>
							<a href="#" class="btn btn-circle btn-default delete-item">
       							<i class="icon-trash"></i>
        						{{_ "button.delete"}}
  						</a>
							{{#if additionalItemActionsTemaplate}}
								{{> Template.dynamic template=additionalItemActionsTemaplate }}
							{{/if}}
						{{/if}}
					</div>
				</div>
				<div class="portlet-body">
		  		 	<section class="content">
						{{> fleetrGrid config=gridConfig }}
		   			</section>
		 		</div>
			</div>
		</div>
	</div>
</template>
