<template name="maintainanceType">
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-file-o"></i>Maintainance Type
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i>Save</a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i>Cancel</a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="container">
        {{#autoForm collection="MaintainanceTypes" id="maintainanceTypeForm" type="method" meteormethod="submitMaintainanceType"}}
        <div class="form" id="MaintainanceType-info">
          <div class="row">
            <fieldset>
              <div class="col-md-6">
                {{> afQuickField name="name"}}
                {{> afQuickField name="description" rows=5}}
                {{> afQuickField name="nextMaintainanceMonths"}}
                {{> afQuickField name="nextMaintainanceKMs"}}
                {{> afQuickField name="nextMaintainanceEngineHours"}}
              </div>
            </fieldset>
          </div>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
