<template name="logbook">
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption" id="fleets">
									<div class="caption-subject">
										<h1 class="page-title">История на {{vehicleName}}</h1>
									</div>
							</div>
							<div class="actions">
								<a href="#" class="form-control btn btn-circle btn-icon-only btn-default fullscreen"></a>
							</div>
						</div>
						<div class="portlet-body" id="map-container">
							<div class="row">
								 <div class="col-md-12">
									 <section class="content">
										 {{> fleetrReportGrid id="logbookGrid" config=fleetrGridConfig }}
									 </section>
								 </div>
							 </div>
						</div>
				 </div>
			 </div>
		 </div>
</template>
