<template name="logbook">

	<div class="row">
		<div class="col-md-12">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption" id="logbook">
						Logbook
					</div>
				</div>
				<div class="portlet-body">
					<section class="content" id="aggregated-table-section">
						<!-- <div class="input-prepend input-group" id="daterange-prepend">
							<span class="add-on input-group-addon">
						 		<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
						 	</span>
						 	<input type="text" style="width: 200px;" id="daterange" class="form-control"/>
						</div> -->
						<!-- <div class="agg-table"> -->
							<!-- {{> reactiveTable settings=aggopts}} -->
							{{> ReactiveDatatable tableData=aggDatafunc options=aggOptions }}
						<!-- </div> -->
					</section>
					<hr/>
					<section id="detailed-table-section">
						<!-- <div class="input-prepend input-group" id="details-table-prepend">
							<span class="add-on input-group-addon">
						 		<i class="glyphicon glyphicon-dashboard fa fa-dashboard"></i>
						 	</span>
						 	<input type="text" style="width: 200px" id="speed" class="form-control"/>
							<label class="hide-idle">
							  <input id="hideIdleCheckbox" type="checkbox" checked="{{hideIdleIdle}}" />
							  	Hide idle records
							</label>
						</div> -->
						<!-- <div class="start-stop-table"> -->
							<!-- {{> reactiveTable settings=startstopopts}} -->
							{{> ReactiveDatatable tableData=startStopDatafunc options=startStopOptions }}
						<!-- </div> -->
					</section>
				</div>
			</div>
		</div>
	</div>


</template>

<template name="aggMapCellTemplate">
	<img src="/images/Google-Maps-icon.png" title="Show on the map" />
</template>


<template name="mapCellTemplate">
	<a href="{{pathFor 'simple-map' data=opts}}">
		<img src="/images/Google-Maps-icon.png" title="Show on the map" />
	</a>
</template>
