<template name="logbook2">
	<div class="">
		<h3 class="page-title">Logbook of {{vehicleName}}</h3>
		<!-- <input type="text" id="startDate" value=""> -->
	</div>
	{{> fleetrReportGrid id="logbookGrid" config=fleetrGridConfig }}
</template>

<!-- <template name="detailsCellTemplate">
	<a href="{{pathFor 'logbookReportStartStop' selectedDate=rowDate}}">
		Details
	</a>
</template>

<template name="idleCellTemplate">
	<a href="{{pathFor 'logbookReportIdle' selectedDate=rowDate}}">
		Idle
	</a>
</template> -->
