<template name="logbook">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption" id="logbook">
						Logbook
					</div>
				</div>
				<div class="portlet-body">
					<section class="content" id="aggregated-table-section">
						<!-- <a href="{{pathFor 'logbookStartStop' selectedDate=selectedDate}}">Click me</a> -->
						<!-- {{> tabular table=TabularTables.LogbookAggregated selector=selector class="table table-striped table-bordered table-condensed"}} -->
					</section>
					<section class="content" id="totals-section">
						{{> tabular table=TabularTables.LogbookAggByDate class="table table-striped table-bordered table-condensed"}}
						Here comes the grand total
					</section>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="detailsCellTemplate">
	<a href="{{pathFor 'logbookStartStop' selectedDate=rowDate}}">
		Details
	</a>
</template>
