<template name="logbookStartStop">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box blue">
        <div class="portlet-title">
          <div class="caption" id="logbook">
            Logbook for {{selectedDate}}
          </div>
        </div>
        <div class="portlet-body">
          <section class="content" id="aggregated-table-section">
            {{> tabular table=TabularTables.LogbookStartStop selector=selector class="table table-striped table-bordered table-condensed"}}
          </section>
          <section class="content" id="totals-section">
            <p class="fa fa-car"> Total Distance: </p>{{totalDistance}} km<br>
            <p class="fa fa-clock-o"> Total Travel Time: </p>{{totalTravelTime}} <br>
            <p class="fa fa-plug"> Total Fuel: </p>{{totalFuel}} <br>
     </section>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="mapCellTemplate">
  <a href="{{pathFor 'simple-map' data=opts}}">
    <img src="/images/Google-Maps-icon.png" title="Show on the map" />
  </a>
</template>
