<template name="logbook2">
	<div class="row" height="100%">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-body" id="map-container">

          <div class="row">
            <div class="col-md-5 map-filter {{#if showFilterBox}}open{{/if}}" id="vehicle-filter-box">
               {{> vehicleFilter selectedVehicleIdVar="selectedVehicleId" filterVar="vehicleFilter" options=filterOptions}}
               {{> fleetrGrid id="filterVehiclesList" config=filterVehiclesGridConfig }}
            </div>
             <div class="col-md-12">
               <section class="content logbook-grid">
								 {{> logbookGrid timeRange=timeRange deviceId=vehicle.unitId}}
               </section>
             </div>
           </div>

        </div>
     </div>
   </div>
 </div>
</template>

<template name="logbookGrid">
	{{> fleetrReportGrid id="logbookGrid" config=fleetrGridConfig}}
</template>

<template name="bussinesTrip">
  {{> checkboxCell submitMethod='submitBusinessTrip' field='isBusinessTrip' data=this}}
</template>
