<template name="logbook2">
	<div class="row">
        <div class="col-md-12">
          <div class="portlet light">
            <div class="portlet-title">
              <div class="caption" id="fleets">
                  <div class="caption-subject">
                    <h1 class="page-title">Журнал за {{vehicleName}}</h1>
                  </div>
              </div>
              <div class="actions">
                <a href="#" id="toggle-filter" class="btn btn-circle btn-default {{#if showFilterBox}}active{{/if}}">
                  <i class="glyphicon glyphicon-filter"></i>
                  {{_ "button.filter"}}
                </a>
                <a href="#" class="btn btn-circle btn-icon-only btn-default fullscreen"></a>
              </div>
            </div>
            <div class="portlet-body" id="map-container">
              <div class="row">
                <div class="col-md-5 map-filter {{#if showFilterBox}}open{{/if}}" id="vehicle-filter-box">
                   <!-- {{> vehicleFilter selectedVehicleIdVar="selectedVehicleId" filterVar="vehicleFilter" options=filterOptions}}
                   {{> fleetrGrid id="filterVehiclesList" config=filterVehiclesGridConfig }} -->
                </div>
                 <div class="col-md-12">
                   <section class="content">
                     {{> fleetrReportGrid id="logbookGrid" config=fleetrGridConfig }}
                   </section>
                 </div>
               </div>
            </div>
         </div>
       </div>
     </div>
</template>

<!-- <template name="detailsCellTemplate">
	<a href="{{pathFor 'logbookReportStartStop' selectedDate=rowDate}}">
		Details
	</a>
</template>

<template name="idleCellTemplate">
	<a href="{{pathFor 'logbookReportIdle' selectedDate=rowDate}}">
		Idle
	</a>
</template> -->
