.message-row {
 	color: #aaaaaa;
}

.regular-row {
}

.start-row {
  color: #00ff00;
}

.stop-row {
  color: #0000ff;
}

.event-row {
  color: #ff0000;
}

.selected {
	background-color: #4b8df8;
	color: #ffffff;
}


.distance {
	text-align: right;
}

.speed {
	text-align: right;
}

.time {
	text-align: right;
}

.litersPer100 {
	text-align: right;
}

.distance-col {
	text-align: right;
}

.speed-col {
	text-align: right;
}

.fuel-col {
	text-align: right;
}

.time-col {
	text-align: right;
}

#daterange-prepend, #details-table-prepend {
  possition:relative;
  top:34px;
}

#aggregated-table-section, #detailed-table-section {
  margin-top:-34px;
}

.hide-idle {
  height: 32px;
  padding:10px;
}
