.sidebar::-webkit-scrollbar {
  width: 0px;
}

.select2.select2-container {
  width: 100% !important;

}

.select2-selection__rendered {
  color: #666 !important;
}
.content {
  min-height: calc(100% - 61px) !important;
}

input[type='checkbox'] {
  margin-top: -5px;
}

.i18n-container {
  margin-top: 5px;
}
.select2-results__option {
  background-color: #eee;
  color: #666;
}

.select2-selection__rendered {
  background-color: #eee;
  color: #666;
}

.tap-i18n-dropdown select  {
  background: transparent;
  border: none;
  font-size: 14px;
  font-color: #666;
  color: #666;
  height: 29px;
  padding: 5px;
  width: 110px;
  color: lightgrey;
}

.dropdown-user {
  background: transparent;
}

.page-logo a {
    font-size: 2.3em;
    text-decoration: none;
    color: lightgrey;
}
.page-logo a:hover {
  text-decoration: none;
  color: white;
}
.portlet-title h1 {
    display: inline;
    margin: 0;
    font-size: 1.5em;
}

legend {
  color: #999;
}
