<head>
    <meta charset="utf-8" />
    <title>Fleetr | Fleet management and more</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link rel="icon" type="image/png" href="/images/truck-grey.png">

    <!-- Theme assets -->
    <link href="/light-bootstrap/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">
    <link href="/light-bootstrap/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="/light-bootstrap/css/custom.css" rel="stylesheet"/>
    <script src="/light-bootstrap/js/jquery-1.10.2.js"></script>
    <script src="/light-bootstrap/js/light-bootstrap-dashboard.js"></script>

    <!-- Bootstrap switch css -->
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <!-- SlickGrid CSS -->

    <link href="/slickgrid/slick.grid.css" rel="stylesheet" type="text/css"/>
    <link href="/slickgrid/controls/slick.pager.css" rel="stylesheet" type="text/css"/>


    <link href="/css/spinkit.css" rel="stylesheet" type="text/css" />

  <!--

    <link href="/slickgrid/controls/slick.columnpicker.css" rel="stylesheet" type="text/css"/>
    <link href="/slickgrid/plugins/slick.headerbuttons.css" rel="stylesheet" type="text/css"/>
  -->

    <!-- Ag-Grid CSS
    <link href="/css/ag-grid/ag-grid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ag-grid/theme-dark.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ag-grid/theme-blue.css" rel="stylesheet" type="text/css"/> -->

    <!-- BEGIN SCRIPTS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_NvDDs6yqtWOiQS4ZFHWJquK_jjh2pM&libraries=places,geometry&language=bg" type="text/javascript"></script>
    <script src="/js/maplabel-compiled.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.min.js"></script>
    <!-- END SCRIPTS -->


</head>

<body>
  {{> sAlert template='sAlertCustom'}}

</body>

<template name="layout">
    <span class="light-bootstrap">
    {{> lb title=title contentClass=contentClass topnav=topnav }}
    </span>
</template>

<template name="open">
    {{> yield}}
</template>

<template name="lb">
  <div class="wrapper">
      <div class="sidebar" style="overflow-x: hidden;overflow-y: visible;" data-color="" data-image="">

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

      	<div class="sidebar-wrapper">
              <div class="logo">
                  <a href="/" class="simple-text">
                      Fleetr
                  </a>
              </div>
              {{> sidenav}}
      	</div>
      </div>

      <div class="main-panel">
          <nav class="navbar navbar-default navbar-fixed" style="max-height: 61px;">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">{{title}}</a>
                  </div>
                  <div class="collapse navbar-collapse">
                      {{#if topnav}}
                      <span>{{> React component=ReactParent child=topnav }}</span>
                      {{/if}}

                      <ul class="nav navbar-nav navbar-right">
                					{{> headerAlarms}}
                          {{> headerEvents}}
                					{{> user}}
                      </ul>
                  </div>
              </div>
          </nav>


          <div class="content {{contentClass}}">
              {{> yield}}
          </div>

      </div>
  </div>
</template>
