input[type='checkbox'] {
  margin-top: -5px;
}

.i18n-container {
  margin-top: 5px;
}

.tap-i18n-dropdown select {
  background: transparent;
  border: none;
  font-size: 14px;
  font-color: white;
  height: 29px;
  padding: 5px;
  width: 110px;
  color: lightgrey;
}

.dropdown-user {
  background: transparent;
}

.page-logo a {
    font-size: 2.3em;
    text-decoration: none;
    color: lightgrey;
}
.page-logo a:hover {
  text-decoration: none;
  color: white;
}
.portlet-title h1 {
    display: inline;
    margin: 0;
    font-size: 1.5em;
}
