<template name="sidenav">
  <ul class="nav nav-list">
    <li class="{{isActiveRoute regex='dashboard'}}">
      <a href="{{pathFor 'dashboard'}}">
      <i class="pe-7s-graph"></i>
      <p class="title">{{_ "menu.dashboard"}}</p>
      </a>
    </li>

    <li class="{{isActiveRoute regex='listVehicles'}}" data-toggle="collapse" data-target="#vehiclesMenu">
      <a href="#">
      <i class="pe-7s-car"></i>
      <p class="title">{{_ "menu.listVehicles"}}</p>
      <span class="arrow"></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="vehiclesMenu">
        <li>
          <a class="show-all-vehicles" href="/vehicles/list">
          <p class="title">{{_ "menu.vehicles.all"}}</p>
          <span class="arrow"></span>
          </a>
        </li>
        {{#each fleetGroups}}
        <li data-toggle="collapse" data-target="#{{name}}Menu">
          <a href="#">
          <span class="title">{{name}}</span>
          <span class="arrow"></span>
          </a>
          <ul class="sub-menu nav nav-list collapse" id="#{{name}}Menu">
            {{#each fleets}}
              <li>
                <a class="show-fleet-vehicles" href="{{pathFor 'listVehicles' fleetName=name}}">
                <span class="title">{{name}}</span>
                <span class="arrow"></span>
                </a>
              </li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>
    </li>

    <li class="{{isActiveRoute regex='mapVehicles'}}">
      <a href="{{pathFor 'mapVehicles'}}">
      <i class="pe-7s-map-2"></i>
      <p class="title">{{_ "menu.map"}}</p>
      </a>
    </li>

    {{#if isInRole 'admin,editor'}}

    <li class="{{isActiveRoute regex='listFleet'}}" data-toggle="collapse" data-target="#fleetsMenu">
      <a href="#">
      <i class="pe-7s-helm"></i>
      <p class="title">{{_ "menu.fleets"}}</p>
      <span class="arrow"></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="fleetsMenu">
        <li class="{{isActiveRoute regex='listFleetGroups'}}">
          <a href="{{pathFor 'listFleetGroups'}}">
            {{_ "menu.listFleetGroups"}}</a>
        </li>
        <li class="{{isActiveRoute regex='listFleets'}}">
          <a href="{{pathFor 'listFleets'}}">
            {{_ "menu.listFleets"}}</a>
        </li>
      </ul>
    </li>

    <li class="{{isActiveRoute regex='driver|mapDrivers|assignments'}}" data-toggle="collapse" data-target="#driversMenu">
      <a href="#">
      <i class="pe-7s-users"></i>
      <p class="title">{{_ "menu.drivers"}}</p>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="driversMenu">
        <li class="{{isActiveRoute regex='listDrivers$'}}">
          <a href="{{pathFor 'listDrivers'}}">
            {{_ "menu.listDrivers"}}</a>
        </li>
        <li class="{{isActiveRoute regex='listDriverVehicleAssignments'}}">
          <a href="{{pathFor 'listDriverVehicleAssignments'}}">
            {{_ "menu.drivers_vehicles"}}</a>
        </li>
        <li class="{{isActiveRoute regex='documents/types'}}">
          <a href="{{pathFor 'listDocumentTypes'}}">{{_ "menu.listDocumentTypes"}}</a>
        </li>
      </ul>
    </li>

    <li class="{{isActiveRoute regex='geofences'}}">
      <a href="{{pathFor 'geofences'}}">
      <i class="pe-7s-home"></i>
      <p class="title">{{_ "menu.objects"}}</p>
      </a>
    </li>

    <li class="{{isActiveRoute regex='listExpenses|listExpenseTypes|listExpenseGroups'}}" data-toggle="collapse" data-target="#expensesMenu">
      <a href="#">
        <i class="pe-7s-piggy"></i>
        <p class="title">{{_ "menu.expenses"}}</p>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="expensesMenu">
        <li class="{{isActiveRoute regex='expenses/add'}}">
          <a href="{{pathFor 'listExpenses'}}">{{_ "menu.listExpenses"}}</a>
        </li>
        <li class="{{isActiveRoute regex='expenses/types'}}">
          <a href="{{pathFor 'listExpenseTypes'}}">{{_ "menu.listExpenseTypes"}}</a>
        </li>
        <li class="{{isActiveRoute regex='expenses/groups'}}">
          <a href="{{pathFor 'listExpenseGroups'}}">{{_ "menu.listExpenseGroups"}}</a>
        </li>
      </ul>
      </li>

      <li class="{{isActiveRoute regex='maintenanceType|listTyres'}}" data-toggle="collapse" data-target="#tyresMenu">
        <a href="#">
          <i class="pe-7s-tools"></i>
          <p class="title">{{_ "menu.maintenances"}}</p>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu nav nav-list collapse" id="tyresMenu">
          <li class="{{isActiveRoute regex='maintenance'}}">
            <a href="{{pathFor 'listMaintenanceType'}}">
              {{_ "menu.listMaintenanceTypes"}}</a>
          </li>

          <li class="{{isActiveRoute regex='listTyres'}}">
            <a href="{{pathFor 'listTyres'}}">
              {{_ "menu.listTyres"}}</a>
          </li>
        </ul>
      </li>

      <li class="{{isActiveRoute regex='insurance'}}" data-toggle="collapse" data-target="#insuranceMenu">
        <a href="#">
          <i class="pe-7s-culture"></i>
          <p class="title">{{_ "menu.insurances"}}</p>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu nav nav-list collapse" id="insuranceMenu">
          <li class="{{isActiveRoute regex='insurance'}}">
            <a href="{{pathFor 'listInsurances'}}">
            {{_ "menu.insurances"}}</a>
          </li>
          <li class="{{isActiveRoute regex='insurance'}}">
            <a href="{{pathFor 'listInsuranceTypes'}}">
            {{_ "menu.listInsuranceTypes"}}</a>
          </li>
        </ul>
      </li>

    <li class="{{isActiveRoute regex='Report'}}" data-toggle="collapse" data-target="#reportsMenu">
      <a href="#">
      <i class="pe-7s-copy-file"></i>
      <p class="title">{{_ "menu.reports"}}</p>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="reportsMenu">
        <li class="{{isActiveRoute regex='expenseReport'}}">
          <a href="{{pathFor 'expenseReport'}}">{{_ "menu.expenseReport"}}</a>
        </li>
        <li class="{{isActiveRoute regex='maintenanceReport'}}">
          <a href="{{pathFor 'maintenanceReport'}}">{{_ "menu.maintenanceReport"}}</a>
        </li>
      </ul>
    </li>
    <li class="{{isActiveRoute regex='events'}}" data-toggle="collapse" data-target="#eventsMenu">
      <a href="#">
      <i class="pe-7s-alarm"></i>
      <p class="title">{{_ "menu.notifications"}}</p>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="eventsMenu">
        <li class="{{isActiveRoute regex='custom-events'}}">
          <a href="{{pathFor 'listCustomEvents'}}">{{_ "menu.notifications"}}</a>
        </li>
        <li class="{{isActiveRoute regex='geofence-events'}}">
          <a href="{{pathFor 'listGeofenceEvents'}}">{{_ "menu.geofenceNotifications"}}</a>
        </li>
      </ul>
    </li>
    <li class="{{isActiveRoute regex='alarms'}}">
      <a href="{{pathFor 'listAlarms'}}">
      <i class="pe-7s-bell"></i>
      <p class="title">{{_ "menu.alarms"}}</p>
      </a>
    </li>

    {{/if}}

    {{#if isInRole 'admin'}}
    <li class="{{isActiveRoute regex='admin'}}">
      <a href="{{pathForAdminBoard}}">
        <i class="pe-7s-settings"></i>
        <p>{{_ "menu.admin"}}</p>
      </a>
    </li>
    {{/if}}

  </ul>
</template>
