<template name="sidenav">
  <ul class="nav nav-list" style="cursor: pointer;">

    <li class="{{isActiveRoute regex='mapVehicles'}}">
      <a href="{{pathFor 'mapVehicles'}}">
      <i class="pe-7s-map-2"></i>
      <p class="title">{{_ "menu.map"}}</p>
      </a>
    </li>

    <li class="{{isActiveRoute regex='listVehicles'}}">
      <a data-toggle="collapse" data-target="#vehiclesMenu">
      <i class="pe-7s-car"></i>
      <p class="title">{{_ "menu.listVehicles"}}</p>
      <span class="arrow"></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="vehiclesMenu">
        <li>
          <a class="show-all-vehicles" href="/vehicles/list">
            <span class="title"><strong>{{_ "menu.vehicles.all"}}</strong></span>
            <span class="badge pull-right">{{allVehiclesCount}}</span>
          </a>
        </li>
        {{#each fleetGroups}}
        <li>
          <a data-toggle="collapse" data-target="#{{_id}}-fleets">
            <span class="title">{{name}}</span>
            <span class="badge pull-right">{{vehicleCount}}</span>
          </a>
          {{#if fleetCount}}
          <ul class="sub-menu nav nav-list collapse" id="{{_id}}-fleets">
            {{#each fleets}}
              <li class="{{isActivePath regex='{{name}}'}}">
                <a class="show-fleet-vehicles"
                   href="{{pathFor 'listVehicles' fleetName=name}}"
                   style="margin-left: 0; padding-left: 0;">
                  <span class="title">{{name}}</span>
                  <span class="badge pull-right">{{vehicleCount}}</span>
                </a>
              </li>
            {{/each}}
          </ul>
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </li>

    {{#if isInRole 'admin,editor'}}

    <li class="{{isActiveRoute regex='listFleet'}}">
      <a href="{{pathFor 'listFleets'}}">
        <i class="pe-7s-helm"></i>
        <p class="title">{{_ "menu.fleets"}}</p>
      </a>
    </li>

    <li class="{{isActiveRoute regex='listDrivers|listDriverVehicleAssignments|listDocumentTypes'}}">
      <a href="{{pathFor 'listDrivers'}}">
        <i class="pe-7s-users"></i>
        <p class="title">{{_ "menu.drivers"}}</p>
      </a>
    </li>

    <li class="{{isActiveRoute regex='geofences'}}">
      <a href="{{pathFor 'geofences'}}">
      <i class="pe-7s-home"></i>
      <p class="title">{{_ "menu.objects"}}</p>
      </a>
    </li>

    <li class="{{isActiveRoute regex='listExpenses|listExpenseTypes|listExpenseGroups|importExpenses'}}">
      <a href="{{pathFor 'listExpenses'}}">
        <i class="pe-7s-piggy"></i>
        <p class="title">{{_ "menu.expenses"}}</p>
      </a>
    </li>

      <li class="{{isActiveRoute regex='listMaintenanceType|listTyres'}}">
          <a href="{{pathFor 'listMaintenanceType'}}">
          <i class="pe-7s-tools"></i>
          <p class="title">{{_ "menu.maintenances"}}</p>
        </a>
      </li>

      <li class="{{isActiveRoute regex='listInsurance'}}">
        <a href="{{pathFor 'listInsurances'}}">
          <i class="pe-7s-culture"></i>
          <p class="title">{{_ "menu.insurances"}}</p>
        </a>
      </li>

    <li class="{{isActiveRoute regex='Report'}}">
      <a data-toggle="collapse" data-target="#reportsMenu">
      <i class="pe-7s-copy-file"></i>
      <p class="title">{{_ "menu.reports"}}</p>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu nav nav-list collapse" id="reportsMenu">
        <li class="{{isActiveRoute regex='fullLogbookReport'}}">
          <a href="{{pathFor 'fullLogbookReport'}}">{{_ "menu.logbook"}}</a>
        </li>
        <li class="{{isActiveRoute regex='expenseReport'}}">
          <a href="{{pathFor 'expenseReport'}}">{{_ "menu.expenseReport"}}</a>
        </li>
        <li class="{{isActiveRoute regex='maintenanceReport'}}">
          <a href="{{pathFor 'maintenanceReport'}}">{{_ "menu.maintenanceReport"}}</a>
        </li>
      </ul>
    </li>

    <li class="{{isActiveRoute regex='listAlarms'}}">
      <a href="{{pathFor 'listAlarms'}}">
      <i class="pe-7s-bell"></i>
      <p class="title">{{_ "menu.alarms"}}</p>
      </a>
    </li>

    {{/if}}

  </ul>
</template>
