<head>
    <title>fleetr</title>
</head>

<body>
</body>

<template name="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fleetr</a>
          </div>
          <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form">
                {{> loginButtons}}
              </form>
          </div>
      </div>
  </div>
</template>

<template name="footer">
      <hr>
      <footer>
          <p>© Greyarch 2014</p>
      </footer>
</template>

<template name="jumbotron">
  <div class="jumbotron">
      <div class="container">
          <h1>FLEETR for the win!</h1>
          <p>The best fleet management system in Greater Sliven!</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
      </div>
  </div>
</template>

<template name="fleetr">
  {{> header}}
  {{> jumbotron}}
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>Add a book</h4>
              {{> insertBookForm}}
          </div>
          <div class="col-md-4">
              {{> bookList}}
          </div>
          <div class="col-md-4">
              <h4>Edit the book</h4>
              {{> updateBookForm}}
          </div>
      </div>
  </div>
  {{> footer}}
</template>

<template name="insertBookForm">
    {{> quickForm collection="Books" id="insertBookForm" type="insert"}}
</template>

<template name="updateBookForm">
    {{> quickForm collection="Books" doc=editingDoc id="updateBookForm" type="update"}}
</template>

<template name="bookList">
    <h4>Books</h4>
    <ul class="list-group">
        {{# each books}}
        <li class="list-group-item pointable">
            <span class="badge pointable deleteItem">X</span>
            {{title}}
        </li>
        {{/each}}
    </ul>
</template>
