body, html {
    height:100%;
}

.page {
    padding:2em;
    padding-top:.5em;
}
.tag {
    display:inline-block;
    padding:0.2em;
}

.container {
    padding:0.2em;
}

.alert {
    margin: 1em 2em 1em 2em;
}

#filter-input {
    padding-top: 1em;
}

#login-buttons {
  padding-right: 15em;
}

#login-buttons a.login-close-text {
  color: black;
}
