<head>
    <title>fleetr</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_NvDDs6yqtWOiQS4ZFHWJquK_jjh2pM&sensor=true&libraries=places" type="text/javascript"></script>
</head>

<template name="layout">
    <div id="wrapper" class="admin-layout">
        <div class="skin-blue">

            {{> header}}
            <div id="page-content-wrapper">
                {{> flashMessages}} {{> yield}}
            </div>
            {{> footer}}
        </div>
    </div>
</template>

<template name="header">
    <header class="header">
        <a href="{{pathFor 'fleetr'}}" class="logo">
            Fleetr
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul class="nav navbar-nav">
            	<li>
                    <a href="{{pathFor 'companies'}}">List all companies</a>
                </li>
                <li>
                    <a href="{{pathFor 'company'}}">Add a company</a>
                </li>
                <li>
                    <a href="{{pathFor 'drivers'}}">List all drivers</a>
                </li>
                <li>
                    <a href="{{pathFor 'driver'}}">Add a driver</a>
                </li>
                 <li>
                    <a href="{{pathFor 'vehicles'}}">List all vehicles</a>
                </li>
                <li>
                    <a href="{{pathFor 'vehicle'}}">Add a vehicle</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="filter-input">{{> yield "filter"}}</li>
                <li>
                    <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right" role="form">
                            {{> loginButtons}}
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</template>

<template name="footer">
    <hr>
    <footer>
        <p>© Fleetr 2014</p>
    </footer>
</template>
