<head>
    <title>fleetr</title>
</head>

<template name="layout">
    <div id="wrapper">
        {{> header}}
        <div id="page-content-wrapper">
            {{> flashMessages}}
            {{> yield}}
        </div>
        {{> footer}}
    </div>
</template>

<template name="header">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'fleetr'}}">Fleetr</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="{{pathFor 'drivers'}}">List all drivers</a>
            </li>
            <li>
                <a href="{{pathFor 'driver'}}">Add a driver</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="filter-input">{{> yield "filter"}}</li>
            <li>
                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                        {{> loginButtons}}
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</template>

<template name="footer">
    <hr>
    <footer>
        <p>© Greyarch 2014</p>
    </footer>
</template>
