body, html {
    height:100%;
}
body {
    padding-top:3.6em;
}
.page {
    padding:2em;
    padding-top:.5em;
}
.tag {
    display:inline-block;
    padding:0.2em;
}

.container {
    padding:0.2em;
}

.alert {
    margin: 1em 2em 1em 2em;
}
