<template name="vehicle">
  <div class="container">
    {{#autoForm schema=vehicleSchema id="vehicleForm" type="method" meteormethod="submitVehicle"}}
            <div class="form" id="vehicle-info">
                <div class="row">
                  <fieldset>
                      <div class="col-md-4">
                      	  <legend>Превозно средство</legend>
                          {{> afQuickField name="licensePlate"}}
                          {{> afQuickField name="identificationNumber"}}
                          {{> afQuickField name="allocatedToFleet"}}
                          {{> afQuickField name="allocatedToFleetFromDate"}}
                      </div>
                  </fieldset>
               </div>
            </div>
        <div>
          <button type="submit" class="btn btn-primary">Запиши</button>
          <button type="reset" class="btn btn-default">Анулирай</button>
        </div>
    {{/autoForm}}
  </div>
</template>
