<head>
	<title>Pages - basic usage</title>
</head>

<body>
	{{> testData}}
</body>

<template name="testData">
	<!-- <button class="perPage" data-pp="5">5</button> -->
	<!-- <button class="perPage" data-pp="10">10</button> -->
	<!-- <span>{{perPage}}</span> -->

	{{> pagesNav}}
	{{> pages}}

 	<!-- {{> postsList}} -->
</template>

<template name="postsList">
	<div class="posts">
		{{#each posts}}
		{{> postItem}}
		{{/each}}
	</div>
</template>

<template name="postItem">
	<div class="post">
		<div>
		<h3>id: {{id}}</h3>
		</div>
	</div>
</template>