<template name="vehicleFilter">
    <div class="row form-group">
      <div class="col-xs-6">
        <select class="form-control vehicle-filter fleet-group">
            <option value="">{{_ "dropdown.allFleetGrous"}}</option>
            {{#each fleetGroups}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
      </div>
      <div class="col-xs-6">
        <select class="form-control vehicle-filter fleet">
            <option value="">{{_ "dropdown.allFleets"}}</option>
            {{#each fleets}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
      </div>
    </div>
</template>

<template name="vehicleListOrSelect">
  <div class="filter-group">
  {{#if displayVehiclesList}}
      <span>
          <ul class="list-group">
            {{#each vehicles}}
            <li class="list-group-item {{active}}">
              {{#each tags}}
              <span class="badge tag">{{this}}</span>
              {{/each}}
              <span class="vehicle-filter vehicle" id="{{_id}}">{{name}} ({{licensePlate}})</span>
            </li>
            {{/each}}
          </ul>
          {{#if this.options.debug}}{{session this.sessionVar}}{{/if}}
      </span>
  {{/if}}
  {{#if displayVehiclesSelect}}
      <span><i class="fa fa-car"></i>
        <select class="form-control vehicle-filter vehicle">
            <option value="">All vehicles</option>
            {{#each vehicles}}
            <option value="{{_id}}">{{name}} ({{licensePlate}})</option>
            {{/each}}
        </select>
      </span>
  {{/if}}
  </div>

</template>

<template name="checkbox">
  <li>
    <label for="{{_id}}">
      <input type="checkbox" id="{{_id}}" class="vehicle-filter vehicle" checked/>
      <span>{{name}} ({{licensePlate}})</span>
    </label>
  </li>
</template>
