<template name="maintenance">
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa da-wrench"></i>Add Maintenance for {{vehicleName}}
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i>Save</a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i>Cancel</a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        {{#autoForm doc=maintenance collection="Maintenances" id="maintenancesForm" type="method" meteormethod="submitMaintenance"}}
            <fieldset>
              <div class="col-md-6">
                {{> afFieldInput type="hidden" name="vehicle" value=vechileId}}
                {{> afQuickField name="maintenanceType"}}
                {{> afQuickField name="maintenanceDate"}}
                {{> afQuickField name="odometer"}}
                {{> afQuickField name="engineHours"}}
              </div>
              <div class="col-md-6">
                <legend class="col-sm-12">Next Maintenance</legend>
                {{> afQuickField name="nextMaintenanceDate"}}
                {{> afQuickField name="nextMaintenanceOdometer"}}
                {{> afQuickField name="nextMaintenanceEngineHours"}}
                <a href="#" class="btn btn-primary btn-calculate-next col-sm-2">Calculate</a>
              </div>
              <div class="col-md-12">
                <legend class="col-sm-12">Note</legend>
                {{> afQuickField name="note" label=false}}
              </div>
          </fieldset>

        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
