<template name="maintenance">
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa da-wrench"></i>Maintenance for {{licensePlate}}
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i>Save</a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i>Cancel</a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="container">
        {{#autoForm doc=maintenance collection="Maintenances" id="maintenancesForm" type="method" meteormethod="submitMaintenance"}}
            <fieldset>
              <div class="col-md-7">
                {{> afQuickField template="bootstrap3-horizontal" name="maintenanceType"}}
                {{> afQuickField template="bootstrap3-horizontal" name="odometer"}}
                {{> afQuickField template="bootstrap3-horizontal" name="date"}}
                {{> afQuickField template="bootstrap3-horizontal" name="nextMaintenanceDate"}}
                {{> afQuickField template="bootstrap3-horizontal" name="nextMaintenanceOdometer"}}
                {{> afQuickField template="bootstrap3-horizontal" name="nextMaintenanceEngineHours"}}
              </div>
          </fieldset>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
