<template name="fleet">
  <div class="container">
    {{#autoForm schema=fleetSchema id="fleetForm" type="method" meteormethod="submitFleet"}}
            <div class="form" id="fleet-info">
                <div class="row">
                  <fieldset>
                      <div class="col-md-4">
                      	  <legend>fleet Information</legend>
                      	  {{> afFieldInput type="hidden" name="parent" value=companyId}}
                          {{> afQuickField name="name"}}
                      </div>
                  </fieldset>
               </div>
            </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
    {{/autoForm}}
  </div>
</template>

<template name="autoForm_fleet">
  some shit here
</template>
