<template name="dashboard">	
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
				  	<div class="caption">
						<div class="caption-subject">
							<h1 class="bold">Статистики</h1>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat green-haze">
							<div class="visual">
								<i class="fa fa-globe"></i>
							</div>
							<div class="details">
								<div class="number">
									 {{movingVehicles}}
								</div>
								<div class="desc">
									 в движение
								</div>
							</div>
							<a class="more" href="#">
							Виж повече <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat blue-madison">
							<div class="visual">
								<i class="fa fa-globe"></i>
							</div>
							<div class="details">
								<div class="number">
									 {{restingVehicles}}
								</div>
								<div class="desc">
									 с изключен двигател
								</div>
							</div>
							<a class="more" href="#">
							Виж повече <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat purple-plum">
							<div class="visual">
								<i class="fa fa-globe"></i>
							</div>
							<div class="details">
								<div class="number">
									 {{idlingVehicles}}
								</div>
								<div class="desc">
									 без движение
								</div>
							</div>
							<a class="more" href="#">
							Виж повече <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat red-intense">
							<div class="visual">
								<i class="fa fa-globe"></i>
							</div>
							<div class="details">
								<div class="number">
									 {{overspeedingVehicles}}
								</div>
								<div class="desc">
									 с превишена скорост
								</div>
							</div>
							<a class="more" href="#">
							Виж повече <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</template>