<template name="driver">
  <div class="portlet box blue-hoki">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-user"></i>{{_ "driver.title"}}
      </div>
      <div class="tools">
        <a href="" class="fullscreen"></a>
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-sm">
        <i class="fa fa-check"></i> {{_ "button.save"}}</a>
        <a href="#" class="btn btn-default btn-reset">
        <i class="fa fa-close"></i> {{_ "button.reset"}}</a>
      </div>
    </div>
    <div class="portlet-body">
      <!-- Nav tabs -->
      <div class="tabbable-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1" data-toggle="tab">
            Лични данни </a>
          </li>
          <li>
            <a href="#tab_2" data-toggle="tab">
            Информация за контакт</a>
          </li>
          <li>
            <a href="#tab_3" data-toggle="tab">
            Документи</a>
          </li>
          <li>
            <a href="#tab_4" data-toggle="tab">
            Допълнителни данни </a>
          </li>
        </ul>
        {{#autoForm doc=driver collection="Drivers" id="driverForm"}}
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <fieldset>
                <div class="col-md-6">
                    {{> afFieldInput type="hidden" name="_id" value=_id}}
                    {{> afQuickField name="firstName"}}
                    {{> afQuickField name="name"}}
                    {{> afQuickField name="ssn"}}
                    {{> afQuickField name="birthDate"}}
                    {{> afQuickField name="sex"}}
                    {{> afQuickField name="education"}}
                    {{> afQuickField name="active"}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name="tags"}}
                  <img id="driverImage" src="{{driverImage}}" alt="Снимка на щофьора" />
                  <input id="picture" name="picture" type="file"/>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_2">
            <div class="row">
                <fieldset>
                  <div class="col-md-6">
                      {{> afQuickField name="city"}}
                      {{> afQuickField name="address"}}
                      {{> afQuickField name="county"}}
                      {{> afQuickField name="country"}}
                      {{> afQuickField name="email"}}
                      {{> afQuickField name="mobile"}}
                      {{> afQuickField name="officePhone"}}
                      {{> afQuickField name="phone"}}
                  </div>
                </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_3">
            <div class="row">
              <fieldset>
                  <div class="col-md-6">
                    <legend>Документ за самоличност</legend>
                    {{> afQuickField name="idType"}}
                    {{> afQuickField name="idSerial"}}
                    {{> afQuickField name="idNo"}}
                    {{> afQuickField name="validFrom"}}
                    {{> afQuickField name="validTo"}}
                    {{> afQuickField name="issuedBy"}}
                    {{> afQuickField name="birthPlace"}}
                    {{> afQuickField name="bloodGroup" }}
                  </div>
                  <div class="col-md-6">
                    <legend>Документ за управление на МПС</legend>
                    {{> afQuickField name="licenseIssueDate"}}
                    {{> afQuickField name="licenseExpieryDate"}}
                    <legend>Категории</legend>
                    {{> afQuickField name="categoryA" }}
                    {{> afQuickField name="categoryAIssueDate"}}
                    {{> afQuickField name="categoryB" }}
                    {{> afQuickField name="categoryBIssueDate"}}
                    {{> afQuickField name="categoryC" }}
                    {{> afQuickField name="categoryCIssueDate"}}
                    {{> afQuickField name="categoryD" }}
                    {{> afQuickField name="categoryDIssueDate"}}
                    {{> afQuickField name="categoryE" }}
                    {{> afQuickField name="categoryEIssueDate"}}
                  </div>
                </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="tab_4">
            <div class="row">
              <fieldset>
                  <div class="col-md-8">
                    {{> afQuickField name="medEvalExpieryDate"}}
                    {{> afQuickField name="profCertExpieryDate"}}
                    {{> afQuickField name="psychApprovalExpieryDate"}}
                    {{> afQuickField name="transportLicense"}}
                    {{> afQuickField name="ownsPersonalLicense"}}
                    {{> afQuickField name="ownVehicle" }}
                  </div>
                </fieldset>
            </div>
          </div>
        </div>
      {{/autoForm}}
      </div>
    </div>
  </div>
</template>
