<template name="maintenanceType">
  {{#autoForm collection="MaintenanceTypes" doc=doc id="maintenanceTypeForm" type="method-update" meteormethod="submitMaintenanceType"}}
    <fieldset>
      <legend></legend>
  	  {{> afFieldInput type="hidden" name="_id" value=_id}}
      {{> afQuickField name="name"}}
      {{> afQuickField name="technicalCheck"}}
      <legend>{{_ "maintenanceTypes.nextMaintenanceAfter"}}</legend>
      {{> afQuickField name="nextMaintenanceMonths"}}
      {{> afQuickField name="nextMaintenanceKMs"}}
      {{> afQuickField name="nextMaintenanceEngineHours"}}
  	</fieldset>
  {{/autoForm}}
</template>