.slickfleetr .slick-header-column.ui-state-default {
  height: 35px; /* by default height is too small to show text */
}

.slickfleetr .slick-group-toggle.expanded {
  background: url(/slickgrid/images/collapse.gif) no-repeat center center;
}
.slickfleetr .slick-group-toggle.collapsed {
  background: url(/slickgrid/images/expand.gif) no-repeat center center;
}

.slickfleetr .slick-cell {
  height: 25px !important;
}

.slickfleetr input.searchbox {
  width: 100%;
  border: 0;
  border-bottom: 1px dashed #lightgrey;
  background: 0;
  color: grey;
}
.slickfleetr .glyphicon.searchbox {
  color: grey;
  font-size:10px;
  padding-right:5px;
  padding-bottom:10px;
}
.slickfleetr div.searchdisabled {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  /*background: darkgrey;*/
}

.slickfleetr input.searchbox:focus {
  outline: 0;
}

.slickfleetr .slick-header-column {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px !important;
  padding-left:0;
  font-weight: bold;
  border: 0 !important;
  background: whitesmoke;
  border-right: 1px dotted lightgrey;
}

/* Grand totals */
.slickfleetr .totals {
  font-weight: bold;
  color: gray;
  font-style: italic;
}


/* Header menu specifics */
.slickfleetr .slick-header-menu {
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 2px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  z-index: 20;
}
.slickfleetr .slick-header-menuitem {
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.slickfleetr .slick-header-menuitem:hover {
  border-color: silver;
  background: white;
}

/* Header Button plugin specifics */
.icon-highlight-off,
.icon-highlight-on {
  background-image: url(/slickgrid/images/bullet_blue.png);
}
.icon-highlight-off {
  opacity: 0.2;
}

/* Loading indicator specifics */
#fleetrGridSpinner {
  position: absolute;
  top: 45px;
  left: 235px;
  bottom: 33px;
  right: 0;
  padding-top: 20%;
  background-color: rgba(255,255,255,.8);
  z-index: 10000;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
