<template name="fleetrGrid">
  <div id="{{id}}">
    <ol class="list-inline">
    {{#if displayGrouping}}
      <li><strong>Grouped by:</strong></li>
      {{#each activeGroupings}}
        <li>{{name}} <a href="#" class="removeGroupBy"><span class="glyphicon glyphicon-remove"></span></a></li>
      {{else}}
        <li>No grouping.</li>
      {{/each}}
    {{/if}}
    {{#if displayFilters}}
      <li><strong>Filtered on:</strong></li>
      {{#each activeFilters}}
        <li>{{name}} ({{text}}) <a href="#" class="removeFilter"><span class="glyphicon glyphicon-remove"></span></a></li>
      {{else}}
        <li>No filters.</li>
      {{/each}}
    {{/if}}
    </ol>
    <div id="slickgrid" class="slickfleetr" style="width:100%; height:500px;"></div>
  </div>
</template>
