<template name="fleetrGrid">
  <div id="fleetrgrid-{{id}}">
    <ol class="list-inline">
    {{#if displayGrouping}}
      <li><strong>{{_ "slickgrid.groupedBy"}}:</strong></li>
      {{#each activeGroupings}}
        <li>{{name}} <a href="#" class="removeGroupBy"><span class="glyphicon glyphicon-remove"></span></a></li>
      {{else}}
        <li>{{_ "slickgrid.noGrouping"}}</li>
      {{/each}}
    {{/if}}
    {{#if displayFilters}}
      <li><strong>{{_ "slickgrid.filteredBy"}}:</strong></li>
      {{#each activeFilters}}
        <li>{{name}} ({{text}}) <a href="#" class="removeFilter"><span class="glyphicon glyphicon-remove"></span></a></li>
      {{else}}
        <li>{{_ "slickgrid.noFiltering"}}</li>
      {{/each}}
    {{/if}}
    </ol>
    <div id="slickgrid-{{id}}" class="slickfleetr" style="width:100%; height:{{height}};"></div>
    {{#if usePagination}}
    {{> fleetrGridPagination grid=grid }}
    {{/if}}
  </div>
</template>
