<template name="jumbotron">
    <div class="jumbotron">
        <div class="container">
            <h1>FLEETR for the win!</h1>
            <p>The best fleet management system in Greater Sliven!</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a>
            </p>
        </div>
    </div>
</template>

<template name="fleetr">
    {{> jumbotron}}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2><a href="{{pathFor 'driver'}}">Add a driver</a></h2> {{fakeParagraph}}
            </div>
            <div class="col-md-4">
                <h2><a href="{{pathFor 'vehicle'}}">Add a vehicle</a></h2> {{fakeParagraph}}
            </div>
            <div class="col-md-4">
                <h2>Add something else</h2> {{fakeParagraph}}
            </div>
        </div>
    </div>
</template>
