<template name="driverVehicleAssignments">

	<h3 class="page-title">
		Associated Drivers and Vehicles
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">	Associated Drivers and Vehicles</a>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->

	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption" id="driverVehicleAssignments">
		            {{> filter sessionVar='driverVehicleAssignmentFilter' placeholder='Търсене...'}}
						</div>
						<div class="tools">
							<a href="{{pathFor 'addDriverVehicleAssignment'}}"><span class="glyphicon glyphicon-plus"></span></a>
							{{#if selectedDriverVehicleAssignmentId}}
								{{/if}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">

				        <table class="table table-striped">

				            <thead>
				                <tr>
				                    <th>Driver</th>
				                    <th>Vehicle</th>
				                    <th>Date</th>
														<th>Time</th>
				                    <th>Събитие</th>
				                </tr>
				            </thead>

				            <tbody>
				                {{#each driverVehicleAssignments}} {{> driverVehicleAssignmentTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="driverVehicleAssignmentTableRow">
    <tr class="{{active}}">
        <td>{{driverName}}</td>
        <td>{{vehicleLicensePlate}}</td>
				<td>{{formatedDate}}</td>
        <td>{{time}}</td>
        <td><span style={{styleEvent}}>{{formatedEvent}}</span></td>
    </tr>
</template>
