<template name="geofences">

    <h3 class="page-title">
    Обекти
    </h3>

    <div class="row">
        <div class="col-md-12">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption" id="mapGeofences">
                  {{> filter sessionVar='geofenceFilter' placeholder='Търсене...'}}
              </div>
              <div class="tools">
                  <a href="#" class="addGeofence"><span class="glyphicon glyphicon-plus"></span></a>
                  {{#if selectedGeofenceId}}
                  <a href="#" class="editGeofence"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a href="#" class="deleteGeofence"><span class="glyphicon glyphicon-trash"></span></a>
                  {{/if}}
                  <a href="#" class="fullscreen"></a>
              </div>
            </div>
            <div class="portlet-body">
            <div class="row">
               <div class="col-md-4">
                 <section class="content">
                   {{> geofencesTable}}
                   {{> editGeofence}}
                 </section>
               </div>
               <div class="col-md-8">
                 <section class="content">
                   <div id="map-canvas">{{renderGeofences}}</div>
                 </section>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
</template>

<template name="editGeofence">
    {{#if editGeofence}}
    <label for="geofence-name">Име на обекта</label>
    <input id="geofence-name">
    <label for="geofence-tags">Етикети</label>
    <input id="geofence-tags">
    <button class="geofence-submit">Потвърди</button>
    <button class="geofence-cancel">Анулирай</button>
    {{/if}}
</template>

<template name="geofencesTable">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Име</th>
          <th>Етикети</th>
        </tr>
      </thead>
      <tbody>
          {{#each geofences}} {{>geofencesTableRow}} {{/each}}
      </tbody>
  </table>
</template>

<template name="geofencesTableRow">
    <tr class="{{active}}">
        <td>{{name}}</td>
        <td>
          {{#each tagsArray}}
          <span class="label label-danger filter-tag">{{this}}</span>
          {{/each}}
        </td>
    </tr>
</template>
