<template name="geofences">
    <div class="row">
        <div class="col-md-12">
          <div class="portlet light">
            <div class="portlet-title">
              <div class="caption" id="geofenceList">
                  <div class="caption-subject">
                    <h1 class="bold">
                      {{_ "geofences.title"}}
                      {{#if selectedGeofenceId}}
                      ({{selectedGeofenceName}})
                      {{/if}}
                    </h1>
                  </div>
              </div>
              <div class="actions">
                <a href="#" class="addGeofence btn btn-circle btn-default add-item">
                  <i class="fa fa-plus"></i>
                  {{_ "button.add"}}
                </a>
                {{#if selectedGeofenceId}}
                  <a href="#" class="editGeofence btn btn-circle btn-default edit-item">
                    <i class="icon-pencil"></i>
                    {{_ "button.edit"}}
                  </a>
                  <a href="#" class="deleteGeofence btn btn-circle btn-default delete-item">
                    <i class="icon-trash"></i>
                    {{_ "button.delete"}}
                  </a>
                {{/if}}

                <a href="#" id="toggle-filter" class="btn btn-circle btn-default {{#if showGfList}}active{{/if}}">
                  <i class="glyphicon glyphicon-list"></i>
                  {{_ "geofences.list"}}
                </a>
                <a href="#" class="btn btn-circle btn-icon-only btn-default fullscreen"></a>
              </div>
            </div>

            <div class="portlet-body" id="map-container">
              <div class="row">
                <div class="col-md-5 map-filter {{#if showGfList}}open{{/if}}" id="gf-list-box">
                  {{#if inEditMode}}
                    {{> editGeofence doc=selectedGeofence}}
                  {{else}}
                    {{> geofencesTable}}
                  {{/if}}

                </div>
                 <div class="col-md-12">
                   <section class="content">
                     <div id="map-canvas">{{renderGeofences}}</div>
                   </section>
                 </div>

               </div>
            </div>
         </div>
       </div>
     </div>
</template>

<template name="editGeofence">
    <hr>
    {{#autoForm collection="Geofences" id="geofenceForm" doc=doc}}
        {{> afFieldInput type="hidden" name="_id" value=_id}}
        {{> afQuickField name="name"}}
        {{> afQuickField name="tags"}}
    {{/autoForm}}
    <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-submit btn-circle">
            <i class="fa fa-check"></i> {{_ "button.save"}} </a>
        <a href="#" class="btn btn-default btn-reset btn-circle">
            <i class="fa fa-close"></i> {{_ "button.cancel"}} </a>
    </div>
</template>

<template name="geofencesTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{_ "common.name"}}</th>
                <th>{{_ "common.tags"}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each geofences}} {{>geofencesTableRow}} {{/each}}
        </tbody>
    </table>
</template>

<template name="geofencesTableRow">
    <tr class="{{active}}">
        <td>{{name}}</td>
        <td>
            {{#each tagsArray}}
            <span class="label label-danger filter-tag">{{this}}</span> {{/each}}
        </td>
    </tr>
</template>
