<template name="geofences">
  <div class="portlet-body" id="map-container" style="width:100%; height:calc(100vh - 61px)">
    <div class="row">
      <div class="col-md-5 map-filter {{#if showGfList}}open{{/if}}" id="gf-list-box">
        {{#if inEditMode}}
          {{> editGeofence doc=selectedGeofence}}
        {{else}}
          {{> geofencesTable}}
        {{/if}}

      </div>
       <div class="col-md-12">
         <section class="content">
           <div id="map-canvas" style="height:calc(100vh - 61px)"></div>
           {{renderGeofences}}
         </section>
       </div>

     </div>
  </div>
</template>

<template name="editGeofence">
    <hr>
    {{#autoForm collection="Geofences" id="geofenceForm" doc=doc}}
        {{> afFieldInput type="hidden" name="_id" value=_id}}
        {{> afQuickField name="name"}}
        {{> afQuickField name="tags"}}
    {{/autoForm}}
    <div class="actions">
        <a href="#" class="btn btn-default btn-primary btn-submit btn-circle">
            <i class="fa fa-check"></i> {{_ "button.save"}} </a>
        <a href="#" class="btn btn-default btn-reset btn-circle">
            <i class="fa fa-close"></i> {{_ "button.cancel"}} </a>
    </div>
</template>

<template name="geofencesTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{_ "common.name"}}</th>
                <th>{{_ "common.tags"}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each geofences}} {{>geofencesTableRow}} {{/each}}
        </tbody>
    </table>
</template>

<template name="geofencesTableRow">
    <tr class="{{active}}">
        <td>{{name}}</td>
        <td>
            {{#each tagsArray}}
            <span class="label label-danger filter-tag">{{this}}</span> {{/each}}
        </td>
    </tr>
</template>
