.slickfleetr .slick-header-column.ui-state-default {
  height: initial; /* by default height is too small to show text */
}

.slickfleetr .slick-group-toggle.expanded {
  background: url(/slickgrid/images/collapse.gif) no-repeat center center;
}
.slickfleetr .slick-group-toggle.collapsed {
  background: url(/slickgrid/images/expand.gif) no-repeat center center;
}


.slickfleetr .slick-cell {
  height: 25px !important;
}

.slickfleetr .slick-header-column {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px !important;
  padding-left:0;
  font-weight: bold;
  border: 0 !important;
  background: lightblue;
  /* border-right: 1px dotted white; */
}

/* Grand totals */
.slickfleetr .totals {
  font-weight: bold;
  color: gray;
  font-style: italic;
}
