<template name="fleets">
	<h3 class="page-title">
		Автопаркове
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Начало</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Автопаркове</a>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->

	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption" id="fleets">
		            {{> filter sessionVar='fleetFilter' placeholder='Търсене...'}}
						</div>
						<div class="tools">
							<a href="{{pathFor 'addFleet'}}"><span class="glyphicon glyphicon-plus"></span></a>
							{{#if selectedFleetId}}
							<a href="{{pathFor 'editFleet' fleetId=selectedFleetId}}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="#" class="deleteFleet"><span class="glyphicon glyphicon-trash"></span></a>
							{{/if}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">

				        <table class="table table-striped">

				            <thead>
				                <tr>
				                    <th>Име</th>
				                    <th>Описание</th>
														<th>Група</th>
				                </tr>
				            </thead>

				            <tbody>
				                {{#each fleets}} {{>fleetTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="fleetTableRow">
    <tr class="{{active}}">
        <td>{{name}}</td>
				<td>{{description}}</td>
				<td>{{group}}</td>
    </tr>
</template>
