<template name="fleets">
	<h3 class="page-title">{{_ "fleet.listTitle"}}</h3>
 		<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption" id="fleets">
		            {{> filter sessionVar='fleetFilter'}}
						</div>
						<div class="tools">
							<a href="{{pathFor 'addFleet'}}"><span class="glyphicon glyphicon-plus"></span></a>
							{{#if selectedFleetId}}
							<a href="{{pathFor 'editFleet' fleetId=selectedFleetId}}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="#" class="deleteFleet"><span class="glyphicon glyphicon-trash"></span></a>
							{{/if}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">
				        <table class="table table-striped">
				            <thead>
				                <tr>
													<th>{{_ "fleet.title"}}</th>
													<th>{{_ "fleet.description"}}</th>
													<th>{{_ "fleet.parent"}}</th>
				                </tr>
				            </thead>
				            <tbody>
				                {{#each fleets}} {{>fleetTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="fleetTableRow">
    <tr class="{{active}}">
        <td>{{name}}</td>
				<td>{{description}}</td>
				<td>{{group}}</td>
    </tr>
</template>
