<template name="vehicles">
	
	<h3 class="page-title">
		Автомобили
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Начало</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Автомобили</a>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->
	
	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<form>
								<input type="text" id="filterVehicles" class="form-control search-query" placeholder="Търсене...">
							</form>
						</div>	
					</div>
			
					<div class="portlet-body">
				    <section class="content">
				        {{#contentFor "filter"}}
				            {{> filter sessionVar='vehicleFilter' placeholder='Type here to filter vehicles'}}
				        {{/contentFor}}
				        <table class="table table-striped">
				
				            <thead>
				                <tr>
				                    <th>License Plate</th>
				                    <th>Identification Number</th>
				                    <th>Allocated to Fleet</th>
				                    <th>Allocated from Date</th>
				                </tr>
				            </thead>
				
				            <tbody>
				                {{#each vehicles}} {{>vehicleTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="vehicleTableRow">
    <tr>
        <td>{{licensePlate}}</td>
        <td>{{identificationNumber}}</td>
        <td>{{fleetName}}</td>
        <td>{{allocatedToFleetFrom}}</td>
    </tr>
</template>
