<template name="vehicles">

	<h3 class="page-title">
		Автомобили
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Начало</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Автомобили</a>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->

	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
		            {{> filter sessionVar='vehicleFilter' placeholder='Търсене...'}}
						</div>
						<div class="tools">
							<a href="{{pathFor 'addVehicle'}}"><span class="glyphicon glyphicon-plus"></span></a>
							{{#if selectedVehicleId}}
							<a href="{{pathFor 'editVehicle' vehicleId=selectedVehicleId}}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="#" class="deleteVehicle"><span class="glyphicon glyphicon-trash"></span></a>
							{{/if}}
						</div>
					</div>

					<div class="portlet-body">
				    <section class="content">

				        <table class="table table-striped">

				            <thead>
				                <tr>
				                    <th>Номер</th>
				                    <th>VIN</th>
				                    <th>Автопарк</th>
				                    <th>От дата</th>
				                </tr>
				            </thead>

				            <tbody>
				                {{#each vehicles}} {{>vehicleTableRow}} {{/each}}
				            </tbody>
				        </table>
				    </section>
				 </div>
			</div>
		</div>
	</div>
</template>

<template name="vehicleTableRow">
    <tr class="{{active}}">
        <td>{{licensePlate}}</td>
        <td>{{identificationNumber}}</td>
        <td>{{fleetName}}</td>
        <td>{{allocatedToFleetFrom}}</td>
    </tr>
</template>
