<template name="vehicleInfo">
  {{#with vehicle}}
  <div class="portlet light bg-inverse">
		<div class="portlet-title">
			<div class="caption" style="width:100%;">
				<span class="caption-subject bold uppercase">Vehicle Info</span>
        <a href="#"><i class="glyphicon glyphicon-map-marker pull-right" title="Show current position"></i></a>
			</div>
		</div>
		<div class="portlet-body form">
      <p>
        <span><i class="fa fa-sitemap"></i> {{fleetGroup}}, {{fleet}} |</span>
        <span>
          <i class="fa fa-car"></i>
          {{name}} ({{licensePlate}}) |
          <img src="/images/truck-state-{{stateIcon}}.png"/> |
        </span>
        <span><i class="glyphicon glyphicon-dashboard"></i>
          Speed: {{toFixed 'speed' 2}}km/h,
          Odometer: {{odometer}}km,
          Tank: {{toFixed 'fuel' 2}}l |
        </span>
        <span><i class="glyphicon glyphicon-user"></i> {{driver}}</span>
      </p>
      <p>
        {{message}}
      </p>
	  </div>
  </div>
  {{/with}}
</template>

<template name="backup">
			<form action="#" class="form-horizontal">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3">Name:</label>
						<label class="col-md-3">{{name}}</label>
						<label class="col-md-3">License plate:</label>
						<label class="col-md-3">{{licensePlate}}</label>
					</div>
					<div class="form-group">
						<label class="col-md-3">Speed:</label>
						<label class="col-md-3">{{speed}}</label>
						<label class="col-md-3">Odometer:</label>
						<label class="col-md-3">{{odometer}}</label>
					</div>
        </div>
			</form>

</template>
